<script id="cardAlunoTemplate" type="text/x-handlebars-template">

{{#if .}}
<div class="col-xs-12">
	<button type="button" class="btn btn-xs bg-pink waves-effect js-remover-todos">
		<i class="material-icons btn-icon">delete_sweep</i>
		REMOVER TODOS
	</button>
</div>
<div class="col-xs-12">
<div class="table-responsive">
<table id="tabelaAlunosSelecionados" class="table table-striped table-hover table-bordered">
     <thead>
         <tr>
             <th style="width: 40px;">MATRICULA</th>
             <th>NOME</th>
             <th>CURSO</th>
             <th>REGIME</th>
             <th></th>
         </tr>
     </thead>
     <tbody>
			{{#each .}}
         		<tr>
					<input type="hidden" id="alunos{{codigo}}" name="alunos" value="{{codigo}}">
         	 		<td style="width: 40px;">{{matricula}}</td>
             		<td class="text-uppercase">{{nome}}</td>
             		<td>{{curso.sigla}}</td>
             		<td>{{regime}}</td>
					<td>
						<span class="col-pink text-uppercase js-tooltip js-remover-aluno" style="cursor: pointer;" data-codigo="{{codigo}}" 
							title="Remover aluno"><i class="material-icons">delete</i></span>
					</td>
         		</tr>
			{{/each}}
		
     </tbody>
 </table>
</div>
</div>
{{else}}
	<div class="col-xs-12 col-sm-12 col-md-6">
			<p class="bg-warning">
				Adicione aluno(s) para registrar a(s) ocorrência(s).
			</p>
		</div>
{{/if}}


<!--{{#if .}}
	<div class="col-xs-12">
		<button type="button" class="btn btn-xs bg-pink waves-effect js-remover-todos">
			<i class="material-icons btn-icon">delete_sweep</i>
				REMOVER TODOS
		</button>
	</div>
	{{#each .}}
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="bg-warning m-b-15">
				<input type="hidden" id="alunos{{codigo}}" name="alunos" value="{{codigo}}">
				<div><span class="overflow text-uppercase js-tooltip" title="{{nome}}">{{nome}}</span></div>
				<div><strong class="">{{matricula}}</strong></div>
				<div><span class="">{{curso.sigla}}</span></div>
				<div><span class="">{{regime}}</span><span class="pull-right text-uppercase js-tooltip js-remover-aluno" style="cursor: pointer;" data-codigo="{{codigo}}" title="Remover aluno">x</span></div>
			</div>
		</div>
	{{/each}}
	{{else}}
		<div class="col-xs-12 col-sm-12 col-md-6">
			<p class="bg-warning">
				Adicione aluno(s) para registrar a(s) ocorrência(s).
			</p>
		</div>
	{{/if}} -->
</script>