<script id="tabelaOcorrenciasPorAluno" type="text/x-handlebars-template">
<table id="tabelaOcorrencias" class="table table-hover" th:fragment="tabelaOcorrencias">
     <thead>
         <tr>
         	 <th style="width: 20px;"></th>
             <th>DATA</th>
             <th>LOCAL</th>
             <th>DESCRICAO</th>
             <th></th>
         </tr>
     </thead>
     <tbody>
		{{#if .}}
			{{#each .}}
         		<tr>
         	 		<td style="width: 20px;">
         	 			<input type="checkbox" id="ID_{{codigo}}" class="chk-col-teal  js-checkbox" data-codigo="{{codigo}}">
                		<label for="ID_{{codigo}}"></label>
             		</td>
             		<td>{{dataOcorrido}}</td>
             		<td>{{local}}</td>
             		<td>{{descricao}}</td>
             		<td><a href="#" class="col-teal"><i class="material-icons">call_made</i> Encaminhamento</a></td>
         		</tr>
			{{/each}}
		{{else}}
			<tr><td colspan="4">Nenhuma ocorrência encontrada.<td><tr>
		{{/if}}
     </tbody>
 </table>                    
</script>