<script id="tabelaResponsaveisTemplate" type="text/x-handlebars-template">

<div class="table-responsive" th:fragment="tabelaResponsaveis">
	<table class="table table-striped table-hover table-bordered  js-tabela-responsaveis">
		<thead>
			<tr>
				<th>NOME</th>
				<th>CONTATOS</th>
				<th>AÇÕES</th>
			</tr>
		</thead>
		<tbody class="js-tabela-responsaveis-body">
		{{#if .}}
			{{#each .}}
			<tr>
				<td class="text-uppercase">{{nome}}</td>
				<td>{{contato}}</td>
				<td style="width: 135px">
					<a href='javascript:void(0);' class='waves-effect js-tooltip col-teal js-selecionar-responsavel' title="Selecionar" data-codigo="{{codigo}}" data-nome="{{nome}}">
						<i class="material-icons btn-icon">check</i> SELECIONAR
					</a>
				</td>
			</tr>
			{{/each}}
 		{{else}}
			<tr><td colspan="3">A pesquisa não retornou resultados :(</td></tr>
 		{{/if}}
		</tbody>
	</table>
</div>
</script>