<script id="tabelaOcorrenciasPorAluno" type="text/x-handlebars-template">
<table id="tabelaOcorrencias" class="table table-striped table-hover table-bordered" th:fragment="tabelaOcorrencias">
     <thead>
         <tr>
         	 <th style="width: 20px;"></th>
             <th>DATA</th>
             <th>LOCAL</th>
             <th>DESCRÇÃO</th>
             <th>AUTOR</th>
             <th class="text-center">ENCAMINHAMENTO</th>
         </tr>
     </thead>
     <tbody>
		{{#if .}}
			{{#each .}}
         		<tr>
         	 		<td style="width: 20px;">
         	 			<input type="checkbox" id="ID_{{codigo}}" class="chk-col-teal  js-checkbox" data-codigo="{{codigo}}">
                		<label for="ID_{{codigo}}"></label>
             		</td>
             		<td>{{dataOcorrido}}</td>
             		<td>{{local}}</td>
             		<td>{{descricao}}</td>
             		<td>{{usuario}}</td>
             		<td class="text-right">
						{{#if tipoEncaminhamento}}
							<label class="label bg-primary" role="button" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus"
                                        									 title="{{tipoEncaminhamento}}" 
                                        									 data-content="{{descricaoEncaminhamento}}">
																<span class="text-uppercase">{{tipoEncaminhamento}}</span>

							</label>

						{{else}}
							<button class="btn btn-xs bg-teal waves-effect js-encaminhar-ocorrencia" data-codigo="{{codigo}}">
								<i class="material-icons btn-icon">call_made</i>
								EMITIR
							</button>
						{{/if}}
					</td>
         		</tr>
			{{/each}}
		{{else}}
			<tr><td colspan="6">Nenhuma ocorrência encontrada.</td></tr>
		{{/if}}
     </tbody>
 </table>                    
</script>