
/** DETALHES **/

.container.container-alt {
    max-width: 1170px;
}

@media (min-width: 992px){
    .container {
    width: 100%;}
}

@media (min-width: 768px){
    .container {
        width: 100%;}
}

.container-foto-aluno {
	margin: 20px;
    text-align: center;
}

.container-info-aluno {
	margin: 20px;
}

.alterar-foto-aluno {
	position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,.38);
    text-align: center;
    padding: 4px 0px 4px;
    display: none;
    margin: 4px;
    width: 97%;
}

.foto {
	position: relative!important;
}

.foto:hover .alterar-foto-aluno {
    display: block;
}

.container-nova-ocorrencia{
	display: none;
}






#profile-main {
    min-height: 500px;
    /*position: relative;*/
}
 

@media (min-width: 768px){
    #profile-main .pm-overview {
        /*position: absolute;*/
        left: 0;
        top: 0;
        height: 100%;
        border-right: 2px solid #eee;
    }
}

@media (min-width: 1200px){
    #profile-main .pm-overview {
        width: 300px;}
}

#profile-main .pmo-pic {
    position: relative;
    margin: 20px;
    text-align: center;
}

#profile-main .pmo-block {
    padding: 15px 25px 25px 25px;
}

.pmo-contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pmo-contact ul li {
    position: relative;
    padding: 8px 0 8px 35px;
}

#profile-main .pmo-pic .pmop-edit {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0,0,0,.38);
    text-align: center;
    padding: 4px 0px 4px;
    /*display: none;*/
    width: 100%;
}

#foto:hover #profile-main .pmo-pic .pmop-edit {
    display: block;
}

/*@media (min-width: 768px){
    #profile-main .pmo-pic .pmop-edit {
        width: 100%;}
}*/



.p-relative {
    position: relative!important;
    /*height: 280px;
    width: 280px;*/
}

.logo-trino{
	background-image: url("../images/trino-bg.png");
	height: 500px;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: 450px;
}

.btn-icon {
    position: relative;
    top: 7px;
    margin-bottom: 8px;
}

.bg-warning, .bg-info, .bg-danger{
	padding: 8px 15px 12px 15px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
}