<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title th:text="${usuario.novo} ? 'Cadastrar usuario' : 'Editar usuario'">Cadastrar usuario</title>

    <!-- Customização de componentes NGTI -->
    <link th:href="@{/layout/css/customizacao.componentes.css}" rel="stylesheet">
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
           	<div class="row">
           		<div class="col-md-12">
	                <ol class="breadcrumb" style="padding: 0px 0px;">
	                    <li><a th:href="@{/}" class="js-tooltip" title="Página inicial"><i class="material-icons">home</i> Início</a></li>
	                    <li><a th:href="@{/usuarios}" class="js-tooltip" title="Pesquisar usuários"><i class="material-icons">security</i> Usuários</a></li>
	                    <li class="active" th:if="${usuario.novo}"><i class="material-icons">add_circle_outline</i> Novo</li>
	                    <li class="active" th:unless="${usuario.novo}"><i class="material-icons">edit</i> Editar</li>
	                </ol>
           		</div>
           	</div>
            
			<!-- MENSAGEM SUCESSO -->
			<div class="alert bg-teal alert-dismissible fade in" role="alert" th:if="${not #strings.isEmpty(mensagemSucesso)}" th:fragment="alert">
			    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
			    <span th:text="${mensagemSucesso}"></span>
			</div>
            
            <div class="card">
                <div class="header">
                    <h2 class="text-uppercase">
                    	<th:block th:if="${usuario.novo}">CADASTRAR NOVO USUÁRIO</th:block>
						<th:block th:unless="${usuario.novo}" class="text-uppercase" th:text="|EDITAR USUÁRIO ${usuario.nome}|">EDITAR USUARIO</th:block>
                        <small class="text-lowercase">Os campos marcados com <code>(*)</code> requer preenchimento obrigatório.</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li sec:authorize="hasRole('ROLE_PESQUISAR_USUARIO')" class="dropdown">
                 			<a th:href="@{/usuarios}" class="col-teal waves-effect"><i class="material-icons col-teal btn-icon">search</i> PESQUISAR USUÁRIOS</a>
                        </li>
                    </ul>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="js-formulario" th:object="${usuario}" th:action="${usuario.novo} ? @{/usuarios/novo} : @{/usuarios/{codigo}(codigo=${usuario.codigo})}" method="POST">
                            	
                            	<input type="hidden" th:field="*{codigo}">
	                            
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 trino-required">
                                        <label for="nome" class="control-label">Nome</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('nome')} ? 'focused error'">
                                                <input type="text" id="nome" class="form-control" placeholder="" th:field="*{nome}">
                                            </div>                                            
                                            <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error" for="nome"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 trino-required">
                                        <label for="email" class="control-label">E-mail</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('email')} ? 'focused error'">
                                                <input type="text" id="email" class="form-control" placeholder="" th:field="*{email}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email-error" class="error" for="email"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4">
                                        <label for="dataNascimento">Data Nascimento</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line" th:classappend="${#fields.hasErrors('dataNascimento')} ? 'focused error'">
                                                <input type="text" class="form-control js-date" readonly="readonly" placeholder="" th:field="*{dataNascimento}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="error" for="dataNascimento"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3" th:classappend="${usuario.novo} ? trino-required">
                                        <label for="senha" class="control-label">Senha</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('senha')} ? 'focused error'">
                                                <input type="password" id="senha" class="form-control" placeholder="" th:field="*{senha}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" id="senha-error" class="error" for="senha"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3" th:classappend="${usuario.novo} ? trino-required">
                                        <label for="confirmacaoSenha" class="control-label">Confirmação da senha</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('confirmacaoSenha')} ? 'focused error'">
                                                <input type="password" id="confirmacaoSenha" class="form-control" placeholder="" th:field="*{confirmacaoSenha}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('confirmacaoSenha')}" th:errors="*{confirmacaoSenha}" id="confirmacaoSenha-error" class="error" for="confirmacaoSenha"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
			                        <div class="col-xs-12 trino-required">
			                        	<label for="grupos" class="control-label">Perfil do usuário</label>
                                        <div class="form-group">
                                            <div th:classappend="${#fields.hasErrors('grupos')} ? 'focused error'">
                                                <th:block th:each="grupo : ${grupos}">
		                                        	<div> 
								    					<input type="checkbox" th:value="${grupo.codigo}" class="with-gap chk-col-teal" th:field="*{grupos}">
		                                            	<label class="text-uppercase" th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">CAE</label>
							    					</div>
	                                        	</th:block>
                                            </div>
                                            <label th:if="${#fields.hasErrors('grupos')}" th:errors="*{grupos}" id="grupos-error" class="error" for="grupos"></label>
                                        </div>
                                    </div>
                                </div>
                                
                                <button sec:authorize="hasRole('ROLE_SALVAR_RESPONSAVEL')" type="submit" class="btn bg-teal waves-effect  js-submit">SALVAR</button>
                 				<a th:href="@{/usuarios}" class="btn btn-default waves-effect">VOLTAR</a>
                        		<input type="hidden" id="uuid" th:value="${uuid}" name="uuid">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   </th:block>
</body>

</html>