<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title th:text="${ocorrencia.novo} ? 'Registrar ocorrencia' : 'Editar ocorrencia'">Registrar ocorrencia</title>

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/layout/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2 th:if="${ocorrencia.novo}">REGISTRAR NOVA OCORRÊNCIA</h2>
				<h2 th:unless="${ocorrencia.novo}" th:text="|EDITAR OCORRENCIA ${ocorrencia.codigo}|">EDITAR OCORRÊNCIA</h2>
            </div>
            <div class="card">
                <!-- <div class="header">
                    <button type="button" class="btn bg-teal waves-effect"><i class="material-icons">search</i>PESQUISAR</button>
                </div> -->
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <th:block th:replace="ocorrencia/Formulario :: formularioNovaOcorrencia"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <th:block th:replace="aluno/PesquisaRapidaAlunoModal"></th:block>
        
    </section>

   <th:block layout:fragment="javascript-extra">
   		
   		<!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
	    
   		<script th:src="@{/javascript/vendors/plugins/handlebars/handlebars-v4.0.10.js}"></script>
	    <script th:src="@{/javascript/aluno.pesquisa-rapida.js}"></script>
	    
   		<th:block th:replace="handlebars/TabelaPesquisaAlunoTemplate"></th:block>
   		<th:block th:replace="handlebars/PanelResponsavelTemplate"></th:block>
   </th:block>
</body>

</html>