<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Registrar ocorrencia</title>

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/layout/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>REGISTRAR NOVA OCORRENCIA</h2>
            </div>
            <div class="card">
                <!-- <div class="header">
                    <button type="button" class="btn bg-teal waves-effect"><i class="material-icons">search</i>PESQUISAR</button>
                </div> -->
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <th:block th:replace="ocorrencia/Formulario :: formularioNovaOcorrencia"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade  js-modal-pesquisa-aluno" id="modalPesquisaAluno" tabindex="-1" role="dialog">
           <div class="modal-dialog modal-lg" role="document">
               <div class="card">
                        <div class="header">
                            <h2>
                                PESQUISA RAPIDA DE ALUNOS
                            </h2>
                       		<a href="javascript:void(0);" class="header-dropdown m-r--5" data-dismiss="modal"><i class="material-icons">clear</i></a>
                            
                        </div>
                        <div class="body">
                        	<form id="formulario_responsavel">
                        		<div class="row">
                        			<div class="col-sm-12  js-mensagem-caracteres hide">
	                        			<p class="bg-danger">
		                            		Digite ao menos 3 caracteres para realizar a consulta.
		                            	</p>
	                            	</div>
	                        		<div class="col-xs-12 col-sm-12 col-md-12">
	                                    <label for="nome">Nome ou matricula</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" id="nome" class="form-control  js-nomeOuMatricula-aluno-modal" placeholder="Digite o nome ou a matricula do aluno" autocomplete="off">
	                                        </div>
	                                    </div>
	                                </div>
	                                <!-- <div class="col-xs-12 col-sm-12 col-md-4">
	                                    <label for="matricula">Matricula</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" id="matricula" class="form-control js-matricula-aluno-modal" placeholder="Pesquisar pela matricula">
	                                        </div>
	                                    </div>
	                                </div> -->
                        		</div>
                        		<div class="row">
                        			<div class="col-xs-12">
                        				<button type="submit" class="btn waves-effect bg-teal  js-pesquisar-aluno" th:data-url="@{/alunos}">PESQUISAR</button>
                        				<div class="preloader pl-size-xs pull-right hide">
		                                    <div class="spinner-layer pl-teal">
		                                        <div class="circle-clipper left">
		                                            <div class="circle"></div>
		                                        </div>
		                                        <div class="circle-clipper right">
		                                            <div class="circle"></div>
		                                        </div>
		                                    </div>
		                                </div>
                        			</div>
                        		</div>
                        		<div class="row">
                        			<div class="col-xs-12">
                        				<div class="js-container-tabela-alunos"></div>
                        			</div>
                        		</div>
		                	</form>
                        </div>
                    </div>
           </div>
       </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   		
   		<!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
	    
   		<script th:src="@{/javascript/vendors/plugins/handlebars/handlebars-v4.0.10.js}"></script>
	    <script th:src="@{/javascript/aluno.pesquisa-rapida.js}"></script>
	    
   		<th:block th:replace="handlebars/TabelaPesquisaAlunoTemplate"></th:block>
   		<th:block th:replace="handlebars/PanelResponsavelTemplate"></th:block>
   </th:block>
</body>

</html>