<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<form id="formularioNovaOcorrencia" class="js-formulario" th:action="@{/ocorrencias/nova}" method="POST" th:object="${ocorrencia}" th:fragment="formularioNovaOcorrencia">
		<!-- <div th:if="${ocorrencia.aluno.serieTurma} == null">
			<div class="well">Impossível adicionar registro de ocorrencia. O cadastro do aluno está incompleto, clique <a th:href="@{/alunos/codigodoaluno}">aqui</a> para completar o cadastro.</div>
		</div> -->
		<!-- <div th:unless="${ocorrencia.aluno.serieTurma} == null"> -->
					<!-- MENSAGEM SUCESSO -->
					<div class="alert bg-teal alert-dismissible fade in" role="alert" th:if="${not #strings.isEmpty(mensagemSucesso)}" th:fragment="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
                         <span th:text="${mensagemSucesso}"></span>
                     </div>
                     	<input type="hidden" th:field="*{uuid}">
                    	<input type="hidden" th:field="*{codigo}">
                    	<input type="hidden" th:field="*{dataRegistro}">
                    	<input type="hidden" th:field="*{serie}">
                    	<input type="hidden" th:field="*{regime}">
                        <input type="hidden" th:field="*{encaminhamentos}">
                    	
                         <!-- <div class="row" th:if="${ocorrencia.aluno} == null">
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <label for="aluno">Aluno</label>
                                <div class="form-group">
                                    <div class="form-line" th:classappend="${#fields.hasErrors('aluno')} ? 'focused error'">
                                        <input type="text" class="form-control" placeholder="" th:field="*{aluno}">
                                    </div>
                                    <label th:if="${#fields.hasErrors('aluno')}" th:errors="*{aluno}" id="nome-error" class="error" for="aluno"></label>
                                </div>
                            </div>
                         </div> -->
                         
                         <div class="row" th:if="${ocorrencia.aluno} == null">
	                    	<!-- <div class="col-xs-12 js-aluno">
	                    		<div class="row">
		                            <div class="col-xs-12 col-sm-12 col-md-5">
		                                <div class="">
			                                <label for="aluno">Aluno</label>
			                                <div class="input-group">
			                                    <span class="input-group-addon">
			                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect" data-toggle="modal" data-target="#adicionarAlunoNaOcorrenciaModal"><i class="material-icons">search</i></a>
			                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect"><i class="material-icons">add</i></a>
			                                    </span>
			                                    <div id="divInput" class="form-line">
			                                        <input type="text" id="aluno" class="form-control js-matricula" placeholder="Digite a matrícula do aluno" autofocus>
			                                    </div>
			                                    <span class="input-group-addon">
			                                        <button class="btn bg-teal btn-xs waves-effect js-validar-numero-matricula"><i class="material-icons btn-icon">send</i>CONSULTAR</button>
			                                    </span>
			                                    <div class="preloader pl-size-xs pull-right hide">
				                                    <div class="spinner-layer pl-teal">
				                                        <div class="circle-clipper left">
				                                            <div class="circle"></div>
				                                        </div>
				                                        <div class="circle-clipper right">
				                                            <div class="circle"></div>
				                                        </div>
				                                    </div>
				                                </div>
			                                </div>
		                                </div>
		                            </div>
		                            <div class="col-xs-12 col-sm-12 col-md-7 js-aluno">
		                            	<p class="bg-warning">
		                            		Digite a matrícula do aluno e clique em <small class="label col-teal"><i class="material-icons btn-icon">send</i> CONSULTAR</small> para abrir o formulário de ocorrência<br>ou clique no botão <small class="label col-teal"><i class="material-icons btn-icon">search</i></small> para abrir a janela de pesquisa rápida de alunos.
		                            	</p>
		                            </div>
	                    		</div>
	                    	</div> -->
	                            <!-- <div class="card js-card-aluno hide">
				                        <div class="body"> -->
				                        	<div class="js-card-aluno"><!-- hide -->
				                        		<div class="">
				                        				<div id="alterarAluno" class="">
						                        			<div class="">
						                        				<a href="javascript:void(0);" class="btn btn-sm waves-effect bg-teal" 
						                        						data-toggle="modal" data-target="#modalPesquisaAluno" title="Alterar aluno">
						                        					<i class="material-icons btn-icon">search</i>
						                        					ALTERAR ALUNO
						                        				</a>
						                        			</div>
						                        		</div>
						                        		<div class="">
					                        				<div class="col-xs-12 col-sm-12 col-md-6">
					                        					<h2 class="card-inside-title col-teal">IDENTIFICAÇÃO DO(S) ALUNO(S)</h2>
									                            <!-- <div class="row col-xs-12 col-sm-12 col-md-7 js-aluno">
									                            	<p class="bg-warning">
									                            		Digite a matrícula do aluno e clique em <small class="label col-teal"><i class="material-icons btn-icon">send</i> CONSULTAR</small> para abrir o formulário de ocorrência<br>ou clique no botão <small class="label col-teal"><i class="material-icons btn-icon">search</i></small> para abrir a janela de pesquisa rápida de alunos.
									                            	</p>
									                            </div> -->
								                                <label for="aluno">Aluno</label>
								                                <div class="input-group">
								                                    <span class="input-group-addon">
								                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect" data-toggle="modal" data-target="#adicionarAlunoNaOcorrenciaModal"><i class="material-icons">search</i></a>
								                                        <!-- <a href="javascript:void(0);" class="btn btn-xs waves-effect"><i class="material-icons">add</i></a> -->
								                                    </span>
								                                    <div id="divInput" class="form-line">
								                                        <input type="text" id="aluno" class="form-control js-matricula" placeholder="Digite a matrícula do aluno" autofocus>
								                                    </div>
								                                    <span class="input-group-addon">
								                                        <button class="btn bg-teal btn-xs waves-effect js-validar-numero-matricula"><i class="material-icons btn-icon">send</i> ADICIONAR</button>
								                                    </span>
								                                    <div class="preloader pl-size-xs pull-right hide">
									                                    <div class="spinner-layer pl-teal">
									                                        <div class="circle-clipper left">
									                                            <div class="circle"></div>
									                                        </div>
									                                        <div class="circle-clipper right">
									                                            <div class="circle"></div>
									                                        </div>
									                                    </div>
									                                </div>
								                                </div>
								                            </div>
					                        				<div class="row">
						                        				<div id="container_card_aluno" class="col-xs-12">
						                        				</div>
					                        				</div>
						                        		</div>
				                        		</div>
				                        	</div>
				                        <!-- </div>
				                    </div> -->
	                         </div>
                         
                         
                         
                         <!-- <div class="row" th:if="${ocorrencia.aluno} == null">
                            <div class="col-xs-12 col-sm-12 col-md-4">
                                <div class="js-aluno">
	                                <label for="aluno">Aluno</label>
	                                <div class="input-group">
	                                    <span class="input-group-addon">
	                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect" data-toggle="modal" data-target="#modalPesquisaAluno"><i class="material-icons">search</i></a>
	                                    </span>
	                                    <div id="divInput" class="form-line">
	                                        <input type="text" id="aluno" class="form-control js-matricula" placeholder="Digite a matricula do aluno" autofocus>
	                                    </div>
	                                    <span class="input-group-addon">
	                                        <button class="btn btn-dafault btn-xs waves-effect js-validar-numero-matricula"><i class="material-icons">send</i></button>
	                                    </span>
	                                    <div class="preloader pl-size-xs pull-right hide">
		                                    <div class="spinner-layer pl-teal">
		                                        <div class="circle-clipper left">
		                                            <div class="circle"></div>
		                                        </div>
		                                        <div class="circle-clipper right">
		                                            <div class="circle"></div>
		                                        </div>
		                                    </div>
		                                </div>
	                                </div>
                                </div>
                                <div class="card js-card-aluno hide">
			                        <div class="body">
			                        	<div class="row js-card-aluno m-t-15 m-b-20 hide">
			                        		<div class="col-xs-10" style="margin-bottom: 0;">
					                            <div><span class="col-teal js-nome">Glauber de Oliveira Matos</span></div>
					                            <div><strong class="js-matricula">2035280</strong></div>
					                            <span class="js-curso">Tecnico em Informática</span>
			                        		</div>
			                        		<div class="col-xs-2">
			                        			<div class="align-right"><a href="javascript:void(0);" class="btn-xs btn-link waves-effect js-remover" title="Remover">x</a></div>
			                        		</div>
			                        	</div>
			                        </div>
			                    </div>
                            </div>
                         </div> -->
                         
                       
                         <p class="bg-warning js-mensagem-cadastro-incompleto hide">
                         	Impossível adicionar registro de ocorrência. O cadastro do aluno está incompleto, clique 
                         	<a class="col-teal js-link-completar-cadastro">aqui</a> para completar o cadastro.
                         </p>
                         
	                         <div class="js-restante-formulario"> <!-- th:classappend="${ocorrencia.aluno} == null ? 'hide'" -->
                                <div class="row" th:if="${ocorrencia.novo} == false">
	                            	<div class="col-md-12">
                                        <h2 class="card-inside-title col-teal">INFORMAÇÕES DE REGISTRO</h2>
                                    </div>
		                            <div class="col-xs-12 col-sm-6 col-md-4">
                                       <label for="autor">Registrado por</label>
                                       <div class="input-group">
                                           <span class="input-group-addon">
                                               <i class="material-icons">security</i>
                                           </span>
                                           <div class="form-line">
                                               <span class="js-autor" th:text="${ocorrencia.usuario.primeiroNomeEmail}"></span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-xs-12 col-sm-6 col-md-4">
                                       <label for="autor">Data do registro</label>
                                       <div class="input-group">
                                           <span class="input-group-addon">
                                               <i class="material-icons">date_range</i>
                                           </span>
                                           <div class="form-line">
                                               <span class="js-dataRegistro" th:text="${ocorrencia.dataRegistroFormatada}"></span>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-xs-12">
                                   	   <h2 class="card-inside-title col-teal">IDENTIFICAÇÃO DO(S) ALUNO(S)</h2>
	                                   <div class="row col-xs-12 col-sm-6 col-md-4">
											<div class="bg-warning m-b-15">
												<input type="hidden" th:field="*{aluno}">
												<div><span class="text-uppercase" th:text="${ocorrencia.aluno.nome}">Nome do aluno</span></div>
												<div><strong th:text="${ocorrencia.aluno.matricula}">{{matricula}}</strong></div>
												<div><span th:text="${ocorrencia.aluno.curso.nome}">{{curso.nome}}</span></div>
												<div><span th:text="${ocorrencia.aluno.regime}">{{regime}}</span></div>
												<div><span class="label bg-blue-grey" th:text="${ocorrencia.aluno.status}">{{status}}</span></div>
											</div>
										</div>
									</div>
                                </div>
                                <div class="row">
	                            	<div class="col-md-12">
                                        <h2 class="card-inside-title col-teal" th:if="${ocorrencia.novo}">FORMULÁRIO DE REGISTRO DE OCORRÊNCIA</h2>
                                        <h2 class="card-inside-title col-teal" th:unless="${ocorrencia.novo}">INFORMAÇÕES DA OCORRÊNCIA</h2>
                                    </div>
                                </div>
		                        <div class="row">
		                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 trino-required">
		                                <label for="dataOcorrido" class="control-label">Data Ocorrência</label>
		                                <div class="input-group">
		                                    <span class="input-group-addon">
		                                        <i class="material-icons">date_range</i>
		                                    </span>
		                                    <div class="form-line" th:classappend="${#fields.hasErrors('dataOcorrido')} ? 'focused error'">
		                                        <input type="text" class="datetimepicker form-control  js-dataOcorrencia" placeholder="" th:field="*{dataOcorrido}">
		                                    </div>
		                                    <label th:if="${#fields.hasErrors('dataOcorrido')}" th:errors="*{dataOcorrido}" class="error" for="dataOcorrido"></label>
		                                </div>
		                            </div>
		                         </div>
		                        <div class="row">
		                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 trino-required">
		                                <label for="local" class="control-label">Local da ocorrência</label>
		                                <div class="form-group">
		                                    <div class="form-line" th:classappend="${#fields.hasErrors('local')} ? 'focused error'">
		                                        <input type="text" id="autocomplete-input" class="form-control  js-local" placeholder="" autocomplete="off" th:field="*{local}" th:data-url="@{/ocorrencias/locais?local=}">
		                                    </div>
		                                    <label th:if="${#fields.hasErrors('local')}" th:errors="*{local}" id="nome-error" class="error" for="local"></label>
		                                </div>
		                            </div>
		                         </div>
		                         <div class="row">   
		                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 trino-required">
		                                <label for="descricao" class="control-label">Descrição</label>
		                                <div class="form-group">
		                                    <div class="form-line" th:classappend="${#fields.hasErrors('descricao')} ? 'focused error'">
		                                        <textarea rows="2" class="form-control no-resize  js-descricao" placeholder="Digite aqui a descrição da ocorrência..." th:field="*{descricao}"></textarea>
		                                    </div>
		                                    <label th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" id="nome-error" class="error" for="descricao"></label>
		                                </div>
		                            </div>
		                        </div>
		                        <button type="submit" class="btn bg-teal m-t-10 waves-effect  js-submit">SALVAR</button>
	                         </div>
                         
		<!-- </div> -->                           	
                    </form>
                    
</html>