<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Pesquisar ocorrencias</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>PESQUISAR OCORRÊNCIAS</h2>
            </div>
            <div class="card">
                <div class="header">
                    <a th:href="@{/ocorrencias/nova}" type="button" class="btn bg-teal waves-effect">NOVA<span> OCORRÊNCIA</span></a>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                        
                            <form class="js-formulario" th:action="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}" 
                            							method="GET" th:object="${ocorrenciaFilter}">
                            	
                            	<input type="hidden" th:field="*{aluno}">
                                <div class="row">
                                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                                        <label for="aluno">Aluno</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="aluno" class="form-control" placeholder="" th:field="*{aluno}">
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-xs-12 col-sm-12 col-md-6">
		                                <label for="aluno">Aluno</label>
		                                <div class="input-group">
		                                    <span class="input-group-addon">
		                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect" data-toggle="modal" data-target="#modalPesquisaAluno"><i class="material-icons">search</i></a>
		                                    </span>
		                                    <div id="divInput" class="form-line">
		                                        <input type="text" id="aluno" class="form-control js-nome" placeholder="Clique no botão para pesquisar" readonly="readonly" th:field="*{aluno.nome}">
		                                    </div>
		                                </div>
		                            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="dataOcorrido">Data da ocorrência</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control js-date" placeholder="" th:field="*{dataOcorrido}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="dataOcorridoAte">Até</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control js-date" placeholder="" th:field="*{dataOcorridoAte}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <label for="local">Local</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="local" class="form-control" placeholder="" th:field="*{local}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="usuario">Autor</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{usuario}">
		                                    	<option value="" th:if="${usuarios.size() > 1}">todos...</option>
											    <option th:each="usuario : ${usuarios}" th:value="${usuario.codigo}" th:text="${usuario.primeiroNomeEmail}">glauber.matos</option>
											</select>                                           
	                                    </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn bg-teal waves-effect  js-submit">PESQUISAR</button>
                                <a th:href="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}" class="btn btn-default waves-effect">LIMPAR</a>
                            </form>
                        </div>
                        <div class="col-md-12">
                        <input type="hidden" id="url_nova_ocorrencia" th:data-url="@{/ocorrencias}" th:data-url-alunos="@{/alunos}"/>
                  		<div class="table-responsive">
                            <table class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>DATA</th>
                                        <th>ALUNO</th>
                                        <th>LOCAL</th>
                                        <th>DESCRIÇÃO</th>
                                        <th>AUTOR</th>
                                        <th>ENCAMINHAMENTO</th>
                                        <th class="text-center">AÇÕES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr th:each="ocorrencia : ${pagina.conteudo}">
	                                        <td th:text="${ocorrencia.dataOcorridoFormatada}">1</td>
	                                        <td th:text="${ocorrencia.aluno.nome}">Otto</td>
	                                        <td th:text="${ocorrencia.local}">Otto</td>
	                                        <td th:text="${ocorrencia.descricao}">Descricao da ocorrencia</td>
	                                        <td th:text="${ocorrencia.usuario.primeiroNomeEmail}">Otto</td>
	                                        <td>
	                                        	<th:block th:if="${ocorrencia.encaminhamentos.size()} > 0" th:each="encaminhamento : ${ocorrencia.encaminhamentos}">
	                                        		<span class="label bg-teal" role="button" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus"
	                                        									 th:title="${encaminhamento.tipoEncaminhamento.descricao}" 
	                                        									 th:data-content="${encaminhamento.descricao}">
																	<span th:text="${encaminhamento.tipoEncaminhamento.descricao}" class="text-uppercase">ADVERTENCIA VERBAL</span>
													</span>
												</th:block>
												<th:block sec:authorize="hasRole('ROLE_NOVO_ENCAMINHAMENTO')" th:unless="${ocorrencia.encaminhamentos.size()} > 0">
	       											<button class="btn btn-xs bg-teal waves-effect js-encaminhar-ocorrencia" 
	       													th:data-codigo="${ocorrencia.codigo}" 
	       													th:data-nome="${ocorrencia.aluno.nome}">
	       												<i class="material-icons btn-icon">call_made</i>
	       												EMITIR
	       											</button>
												</th:block>
											</td>
	                                        <td class="text-right">
	                                        	<a sec:authorize="hasRole('ROLE_EDITAR_OCORRENCIA')" th:href="@{/ocorrencias/{codigo}(codigo=${ocorrencia.codigo})}" class="col-red"><i class="material-icons btn-icon">edit</i>Editar</a>
	                                        </td>
                                    </tr>
                                    <tr th:if="${pagina.vazia}">
                                    	<td colspan="7">A pesquisa não retornou nenhum resultado.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <th:block th:replace="fragments/Paginacao :: paginacao"></th:block>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <th:block th:replace="aluno/PesquisaRapidaAlunoModal"></th:block>
        <th:block th:replace="encaminhamento/CadastroEncaminhamentoModal"></th:block>
       
    </section>

   <th:block layout:fragment="javascript-extra">
   <!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	    <!-- notificações -->
   		<script th:src="@{/javascript/vendors/plugins/alertify/alertify.js}"></script>
   		<script th:src="@{/javascript/vendors/plugins/bootstrap-notify/bootstrap-notify.min.js}"></script>
	
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
	    
   		<script th:src="@{/javascript/vendors/plugins/handlebars/handlebars-v4.0.10.js}"></script>
   		<script th:src="@{/javascript/notificacoes-push.js}"></script>
   		<script th:src="@{/javascript/atualizar-tabela-ocorrencias.js}"></script>
	    <script th:src="@{/javascript/aluno.pesquisa-rapida.js}"></script>
   		<script th:src="@{/javascript/detalhe-aluno.gerenciar-encaminhamento.js}"></script>
	    
   		<th:block th:replace="handlebars/TabelaPesquisaAlunoTemplate"></th:block>
	    
	    <script>
	    	$(function () {
	    	  $('[data-toggle="popover"]').popover()
	    	});
	    </script>
   </th:block>
</body>

</html>