<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Pesquisar ocorrencias</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>PESQUISAR OCORRENCIAS</h2>
            </div>
            <div class="card">
                <div class="header">
                    <a th:href="@{/ocorrencias/nova}" type="button" class="btn bg-teal waves-effect">NOVA<span> OCORRENCIA</span></a>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                        
                            <form class="js-formulario" th:action="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}" 
                            							method="GET" th:object="${ocorrenciaFilter}">
                            	
                            	<input type="hidden" th:field="*{aluno}">
                                <div class="row">
                                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                                        <label for="aluno">Aluno</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="aluno" class="form-control" placeholder="" th:field="*{aluno}">
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-xs-12 col-sm-12 col-md-6">
		                                <label for="aluno">Aluno</label>
		                                <div class="input-group">
		                                    <span class="input-group-addon">
		                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect" data-toggle="modal" data-target="#modalPesquisaAluno"><i class="material-icons">search</i></a>
		                                    </span>
		                                    <div id="divInput" class="form-line">
		                                        <input type="text" id="aluno" class="form-control js-nome" placeholder="Clique no botão para pesquisar" readonly="readonly" th:field="*{aluno.nome}">
		                                    </div>
		                                </div>
		                            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="dataOcorrido">Data da ocorrencia</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control js-date" placeholder="" th:field="*{dataOcorrido}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="dataOcorridoAte">Até</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class="form-control js-date" placeholder="" th:field="*{dataOcorridoAte}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <label for="local">Local</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="local" class="form-control" placeholder="" th:field="*{local}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="usuario">Autor</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{usuario}">
		                                    	<option value="" th:if="${usuarios.size() > 1}">todos...</option>
											    <option th:each="usuario : ${usuarios}" th:value="${usuario.codigo}" th:text="${usuario.primeiroNomeEmail}">glauber.matos</option>
											</select>                                           
	                                    </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary waves-effect  js-submit">PESQUISAR</button>
                                <a th:href="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}" class="btn btn-default waves-effect">LIMPAR</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="body">
                	<div class="row">
                		<input type="hidden" id="url_nova_ocorrencia" th:data-url="@{/ocorrencias}" th:data-url-alunos="@{/alunos}"/>
                  		<div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>DATA</th>
                                        <th>ALUNO</th>
                                        <th>LOCAL</th>
                                        <th>DESCRICAO</th>
                                        <th>AUTOR</th>
                                        <th>ENCAMINHAMENTO</th>
                                        <th class="text-right">AÇOES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<tr th:each="ocorrencia : ${pagina.conteudo}">
	                                        <td th:text="${ocorrencia.dataOcorridoFormatada}">1</td>
	                                        <td th:text="${ocorrencia.aluno.nome}">Otto</td>
	                                        <td th:text="${ocorrencia.local}">Otto</td>
	                                        <td th:text="${ocorrencia.descricao}">Descricao da ocorrencia</td>
	                                        <td th:text="${ocorrencia.usuario.primeiroNomeEmail}">Otto</td>
	                                        <td>
	                                        	<th:block th:if="${ocorrencia.encaminhamentos.size()} > 0" th:each="encaminhamento : ${ocorrencia.encaminhamentos}">
	                                        		<span class="label bg-teal" role="button" tabindex="0" data-placement="top" data-toggle="popover" data-trigger="focus"
	                                        									 th:title="${encaminhamento.tipoEncaminhamento.descricao}" 
	                                        									 th:data-content="${encaminhamento.descricao}">
																	<span th:text="${encaminhamento.tipoEncaminhamento.descricao}" class="text-uppercase">ADVERTENCIA VERBAL</span>
													</span>
												</th:block>
												<th:block sec:authorize="hasRole('ROLE_NOVO_ENCAMINHAMENTO')" th:unless="${ocorrencia.encaminhamentos.size()} > 0">
	       											<a href="javascript:void(0);" class="col-teal waves-effect js-encaminhar-ocorrencia" th:data-codigo="${ocorrencia.codigo}"><i class="material-icons btn-icon">call_made</i>EMITIR</a>
												</th:block>
											</td>
	                                        <td class="text-right">
	                                        	<a sec:authorize="hasRole('ROLE_EDITAR_OCORRENCIA')" th:href="@{/ocorrencias/{codigo}(codigo=${ocorrencia.codigo})}" class="col-red"><i class="material-icons btn-icon">edit</i>Editar</a>
	                                        </td>
                                    </tr>
                                    <tr th:if="${pagina.vazia}">
                                    	<td colspan="7">A pesquisa não retornou nenhum resultado.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <th:block th:replace="fragments/Paginacao :: paginacao"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade  js-modal-pesquisa-aluno" id="modalPesquisaAluno" tabindex="-1" role="dialog">
           <div class="modal-dialog modal-lg" role="document">
               <div class="card">
                        <div class="header">
                            <h2>
                                Pesquisar aluno
                            </h2>
                       		<a href="javascript:void(0);" class="header-dropdown m-r--5" data-dismiss="modal"><i class="material-icons">clear</i></a>
                            
                        </div>
                        <div class="body">
                        	<form id="formulario_responsavel">
                        		<div class="row">
	                        		<div class="col-xs-12 col-sm-12 col-md-12">
	                                    <label for="nome">Nome ou matricula</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" id="nome" class="form-control  js-nomeOuMatricula-aluno-modal" placeholder="Digite o nome ou a matricula do aluno" autocomplete="off">
	                                        </div>
	                                    </div>
	                                </div>
	                                <!-- <div class="col-xs-12 col-sm-12 col-md-4">
	                                    <label for="matricula">Matricula</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" id="matricula" class="form-control js-matricula-aluno-modal" placeholder="Pesquisar pela matricula">
	                                        </div>
	                                    </div>
	                                </div> -->
                        		</div>
                        		<div class="row">
                        			<div class="col-xs-12">
                        				<button type="submit" class="btn waves-effect bg-teal  js-pesquisar-aluno" th:data-url="@{/alunos}">PESQUISAR</button>
                        				<div class="preloader pl-size-xs pull-right hide">
		                                    <div class="spinner-layer pl-teal">
		                                        <div class="circle-clipper left">
		                                            <div class="circle"></div>
		                                        </div>
		                                        <div class="circle-clipper right">
		                                            <div class="circle"></div>
		                                        </div>
		                                    </div>
		                                </div>
                        			</div>
                        		</div>
                        		<div class="row">
                        			<div class="col-xs-12">
                        				<div class="js-container-tabela-alunos"></div>
                        			</div>
                        		</div>
		                	</form>
                        </div>
                    </div>
           </div>
       </div>
       <div class="modal fade  js-modal-encaminhamento" id="modalEncaminhamento" tabindex="-1" role="dialog">
           <div class="modal-dialog modal-lg" role="document">
               <div class="card">
                        <div class="header">
                            <h2>
                                FORMULARIO DE ENCAMINHAMENTO
                            </h2>
                       		<a href="javascript:void(0);" class="header-dropdown m-r--5" data-dismiss="modal"><i class="material-icons">clear</i></a>
                        </div>
                        <div class="body">
                        	<div id="preloader" class="row hide">
                        		<div class="col-xs-12">
		                        	<div class="preloader pl-size-xs">
		                                <div class="spinner-layer pl-teal">
		                                    <div class="circle-clipper left">
		                                        <div class="circle"></div>
		                                    </div>
		                                    <div class="circle-clipper right">
		                                        <div class="circle"></div>
		                                    </div>
		                                </div>
		                            </div>
		                         </div>
			                 </div>
			                 <div class="hide js-card-ocorrencia"><!--  style="background-color:#e9e9e9;" -->
		                        <!-- <div class="body"> -->
		                        	<fieldset class="hide js-card-ocorrencia">
		                        		<legend>DADOS DA OCORRENCIA</legend><!-- <span class="js-nome-aluno"></span> -->
			                            <dl class="horizontal">
			                              <dt>ALUNO</dt>
										  <dd class="js-nome-aluno">Nome do aluno</dd>
										  <dt>DATA</dt>
										  <dd class="js-data-ocorrencia">15/04/2017</dd>
										  <dt>LOCAL</dt>
										  <dd class="js-local-ocorrencia">Pavilhao administrativo</dd>
										  <dt>DESCRICAO</dt>
										  <dd class="js-descricao-ocorrencia">é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.</dd>
										</dl>
		                        	</fieldset>
		                        <!-- </div> -->
		                    </div>
		                    <fieldset class="hide js-card-formulario-encaminhamento">
		                    	<legend>TIPO DO ENCAMINHAMENTO</legend>
	                        	<form id="">
	                        		<input id="ocorrencia" type="hidden" name="ocorrencia">
	                        		<div class="row">
		                        		<div class="col-xs-12 col-sm-6 col-md-4">
	                                        <!-- <label for="tipoEncaminhamento">Tipo do encaminhamento</label> -->
	                                        <div class="form-group">
	                                        	<select id="tipoEncaminhamento" class="form-control show-tick">
		                                        	<option value="">selecione...</option>
		                                            <option th:each="tipo : ${tipoEncaminhamento}" th:value="${tipo}" th:text="${tipo.descricao}">SUSPENSAO</option>
		                                        </select>                                           
	                                        </div>
	                                    </div>
	                               </div>
	                               <div class="row">
		                                <div class="col-xs-12">
		                                    <div class="form-group">
		                                        <div class="form-line">
		                                            <textarea rows="4" class="form-control no-resize  js-encaminhamento-descricao" placeholder="Digite aqui a descricao da medida disciplinar ao aluno..."></textarea>
		                                        </div>
		                                    </div>
		                                </div>
	                        		</div>
	                        		<div class="row">
	                        			<div class="col-xs-12">
	                        				<button type="submit" class="btn waves-effect bg-teal  js-salvar-encaminhamento" th:data-url="@{/encaminhamento}">SALVAR</button>
	                        				<div class="preloader pl-size-xs pull-right hide">
			                                    <div class="spinner-layer pl-teal">
			                                        <div class="circle-clipper left">
			                                            <div class="circle"></div>
			                                        </div>
			                                        <div class="circle-clipper right">
			                                            <div class="circle"></div>
			                                        </div>
			                                    </div>
			                                </div>
	                        			</div>
	                        		</div>
			                	</form>
		                    </fieldset>
                        </div>
                    </div>
           </div>
       </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   <!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	    <!-- notificações -->
   		<script th:src="@{/javascript/vendors/plugins/alertify/alertify.js}"></script>
   		<script th:src="@{/javascript/vendors/plugins/bootstrap-notify/bootstrap-notify.min.js}"></script>
	
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
	    
   		<script th:src="@{/javascript/vendors/plugins/handlebars/handlebars-v4.0.10.js}"></script>
   		<script th:src="@{/javascript/notificacoes-push.js}"></script>
   		<script th:src="@{/javascript/atualizar-tabela-ocorrencias.js}"></script>
	    <script th:src="@{/javascript/aluno.pesquisa-rapida.js}"></script>
   		<script th:src="@{/javascript/detalhe-aluno.gerenciar-encaminhamento.js}"></script>
	    
	    <script>
	    	$(function () {
	    	  $('[data-toggle="popover"]').popover()
	    	});
	    </script>
	    
   		<th:block th:replace="handlebars/TabelaPesquisaAlunoTemplate"></th:block>
   </th:block>
</body>

</html>