<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Alunos</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>PESQUISAR OCORRENCIAS</h2>
            </div>
            <div class="card">
                <div class="header">
                    <a th:href="@{/ocorrencias/nova}" type="button" class="btn bg-teal waves-effect">NOVA<span> OCORRENCIA</span></a>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="js-formulario" th:action="@{/ocorrencias}" method="GET" th:object="${ocorrenciaFilter}">
                            	<input type="hidden" th:field="*{aluno}">
                                <div class="row">
                                    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                                        <label for="aluno">Aluno</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="aluno" class="form-control" placeholder="" th:field="*{aluno}">
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-xs-12 col-sm-12 col-md-6">
		                                <label for="aluno">Aluno</label>
		                                <div class="input-group">
		                                    <span class="input-group-addon">
		                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect" data-toggle="modal" data-target="#modalPesquisaAluno"><i class="material-icons">search</i></a>
		                                    </span>
		                                    <div id="divInput" class="form-line">
		                                        <input type="text" id="aluno" class="form-control js-nome" placeholder="Clique no botão para pesquisar" readonly="readonly" th:field="*{aluno.nome}">
		                                    </div>
		                                </div>
		                            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                        <label for="dataOcorrido">Data da ocorrencia</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class=" form-control" placeholder="" th:field="*{dataOcorrido}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
                                        <label for="dataOcorridoAte">Até</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" class=" form-control" placeholder="" th:field="*{dataOcorridoAte}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <label for="local">Local</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="local" class="form-control" placeholder="" th:field="*{local}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary waves-effect  js-submit">PESQUISAR</button>
                                <a th:href="@{/ocorrencias}" class="btn btn-default waves-effect">LIMPAR</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="body">
                	<div class="row">
                  		<div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>DATA</th>
                                        <th>ALUNO</th>
                                        <th>LOCAL</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="ocorrencia : ${pagina.conteudo}">
                                        <th scope="row" th:text="${ocorrencia.dataOcorridoFormatada}">1</th>
                                        <td th:text="${ocorrencia.aluno.nome}">Otto</td>
                                        <td th:text="${ocorrencia.local}">Otto</td>
                                        <td class="text-right">
                                        	<a th:href="@{/ocorrencias/{codigo}(codigo=${ocorrencia.codigo})}" class="col-red"><i class="material-icons">edit</i> Editar</a>
         									<a href="#" class="col-teal"><i class="material-icons">call_made</i> Encaminhamento</a>
                                        </td>
                                    </tr>
                                    <tr th:if="${pagina.vazia}">
                                    	<td colspan="4">A pesquisa não retornou nenhum resultado.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <th:block th:replace="fragments/Paginacao :: paginacao"></th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade  js-modal-pesquisa-aluno" id="modalPesquisaAluno" tabindex="-1" role="dialog">
           <div class="modal-dialog modal-lg" role="document">
               <div class="card">
                        <div class="header">
                            <h2>
                                Pesquisar aluno
                            </h2>
                       		<a href="javascript:void(0);" class="header-dropdown m-r--5" data-dismiss="modal"><i class="material-icons">clear</i></a>
                            
                        </div>
                        <div class="body">
                        	<form id="formulario_responsavel">
                        		<div class="row">
	                        		<div class="col-xs-12 col-sm-12 col-md-12">
	                                    <label for="nome">Nome ou matricula</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" id="nome" class="form-control  js-nomeOuMatricula-aluno-modal" placeholder="Digite o nome ou a matricula do aluno" autocomplete="off">
	                                        </div>
	                                    </div>
	                                </div>
	                                <!-- <div class="col-xs-12 col-sm-12 col-md-4">
	                                    <label for="matricula">Matricula</label>
	                                    <div class="form-group">
	                                        <div class="form-line">
	                                            <input type="text" id="matricula" class="form-control js-matricula-aluno-modal" placeholder="Pesquisar pela matricula">
	                                        </div>
	                                    </div>
	                                </div> -->
                        		</div>
                        		<div class="row">
                        			<div class="col-xs-12">
                        				<button type="submit" class="btn waves-effect bg-teal  js-pesquisar-aluno" th:data-url="@{/alunos}">PESQUISAR</button>
                        				<div class="preloader pl-size-xs pull-right hide">
		                                    <div class="spinner-layer pl-teal">
		                                        <div class="circle-clipper left">
		                                            <div class="circle"></div>
		                                        </div>
		                                        <div class="circle-clipper right">
		                                            <div class="circle"></div>
		                                        </div>
		                                    </div>
		                                </div>
                        			</div>
                        		</div>
                        		<div class="row">
                        			<div class="col-xs-12">
                        				<div class="js-container-tabela-alunos"></div>
                        			</div>
                        		</div>
		                	</form>
                        </div>
                    </div>
           </div>
       </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   <!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
	    
   		<script th:src="@{/javascript/vendors/plugins/handlebars/handlebars-v4.0.10.js}"></script>
	    <script th:src="@{/javascript/aluno.pesquisa-rapida.js}"></script>
	    
   		<th:block th:replace="handlebars/TabelaPesquisaAlunoTemplate"></th:block>
   </th:block>
</body>

</html>