<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<table id="tabelaOcorrencias" class="table table-hover" th:fragment="tabelaOcorrencias">
     <thead>
         <tr>
         	 <th style="width: 10px;">
         	 	
             </th>
             <th>DATA</th>
             <th>LOCAL</th>
             <!-- <th>DESCRICAO</th> -->
             <th>ENCAMINHAMENTO</th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         <tr th:each="ocorrencia: ${ocorrencias}">
         	 <td style="width: 10px;">
         	 	<input type="checkbox" th:id="|ID_${ocorrencia.codigo}|" class="chk-col-teal  js-checkbox" th:data-codigo="${ocorrencia.codigo}">
                <label th:for="|ID_${ocorrencia.codigo}|"></label>
             </td>
             <td th:text="${ocorrencia.dataOcorridoFormatada}">Mark</td>
             <td th:text="${ocorrencia.local}">Otto</td>
             <!-- <td th:text="${ocorrencia.descricao}">@mdo</td> -->
             <td><span class="label bg-brown">Suspensão</span></td>
             <td class="text-right">
             	<a href="#" class="col-teal js-encaminhar-ocorrencia" th:data-codigo="${ocorrencia.codigo}"><i class="material-icons btn-icon">call_made</i>Encaminhamento</a>
             </td>
         </tr>
     </tbody>
 </table>                    
</html>