<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title >Detalhes da ocorrência</title>

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/layout/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
            <div class="block-header">
				<div class="row">
            		<div class="col-md-6">
						<h2 th:text="|DETALHES DA OCORRÊNCIA Nº ${ocorrencia.codigo}|">DETALHES DA OCORRÊNCIA Nº</h2>
            		</div>
            		<div class="col-md-6">
		                <ol class="breadcrumb align-right" style="padding: 0px 0px;">
		                    <li><a th:href="@{/}" class="js-tooltip" title="Página inicial"><i class="material-icons">home</i> Início</a></li>
		                    <li><a th:href="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}"
		                    		class="js-tooltip" title="Pesquisar ocorrência"><i class="material-icons">assignment</i> Ocorrências</a></li>
		                    <li class="active"><i class="material-icons">settings</i> Detalhes</li>
		                </ol>
            		</div>
            	</div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>
                        DETALHES DA OCORRÊNCIA
                        <small>Informações sobre o registro da ocorrência.</small>
                    </h2>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                        	<div th:object="${ocorrencia}">
                                
                                <!-- MENSAGEM SUCESSO -->
								<div class="alert bg-teal alert-dismissible fade in"
									role="alert" th:if="${not #strings.isEmpty(mensagemSucesso)}"
									th:fragment="alert">
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<i class="material-icons">clear</i>
									</button>
									<span th:text="${mensagemSucesso}"></span>
								</div>

								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-4">
												<label for="coletiva">Tipo da ocorrência</label>
												<div class="input-group">
													<div class="form-line">
														<span class="text-uppercase" th:text="${ocorrencia.coletiva == true ? 'Coletiva' : 'Individual'}"></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4">
												<label for="autor">Registrado por</label>
												<div class="input-group">
													<span class="input-group-addon"> <i
														class="material-icons">security</i>
													</span>
													<div class="form-line">
														<span class="js-autor" th:text="${ocorrencia.usuario.primeiroNomeEmail}"></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-4 ">
												<label for="autor">Data do registro</label>
												<div class="input-group">
													<span class="input-group-addon"> <i
														class="material-icons">date_range</i>
													</span>
													<div class="form-line">
														<span class="js-dataRegistro" th:text="${ocorrencia.dataRegistroFormatada}"></span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 trino-required">
												<label for="dataOcorrido" class="control-label">Data ocorrência</label>
												<div class="input-group">
													<span class="input-group-addon"> <i
														class="material-icons">date_range</i></span>
													<div class="form-line">
														<span th:text="${ocorrencia.dataOcorridoFormatada}"></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 trino-required">
												<label for="local" class="control-label">Local da ocorrência</label>
												<div class="form-group">
													<div class="form-line">
														<span th:text="${ocorrencia.local}"></span>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 trino-required">
												<label for="descricao" class="control-label">Descrição</label>
												<div class="form-group">
													<div class="form-line">
														<span th:text="${ocorrencia.descricao}"></span>
													</div>
												</div>
											</div>
										</div>
										<input type="hidden" id="url_nova_ocorrencia" th:data-url="@{/ocorrencias}"/>
		                        		<a sec:authorize="hasRole('ROLE_NOVO_ENCAMINHAMENTO')" class="btn bg-teal waves-effect js-encaminhar-ocorrencia" th:data-codigo="${ocorrencia.codigo}" >EMITIR ENCAMINHAMENTO</a>
		                        		<a sec:authorize="hasRole('ROLE_EDITAR_OCORRENCIA')" th:href="@{/ocorrencias/{codigo}(codigo=${ocorrencia.codigo})}" class="btn waves-effect">EDITAR OCORRÊNCIA</a>
		                        		<a th:href="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}" class="btn waves-effect">VOLTAR</a>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-6">
										<div class="row">
											<div class="col-xs-12">
												<label for="">Aluno(s)</label>
												<div class="table-responsive">
													<table id="tabelaAlunosSelecionados"
														class="table table-striped table-hover table-bordered">
														<thead>
															<tr>
																<th style="width: 40px;">MATRICULA</th>
																<th>NOME</th>
																<th>CURSO</th>
																<th>REGIME</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="aluno : ${ocorrencia.alunos}">
																<td style="width: 40px;" th:text="${aluno.matricula}">{{matricula}}</td>
																<td th:text="${aluno.nome}" class="text-uppercase">{{nome}}</td>
																<td th:text="${aluno.curso.sigla}">{{curso.sigla}}</td>
																<td th:text="${aluno.regime.descricao}">{{regime}}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
	                         </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <th:block th:replace="encaminhamento/CadastroEncaminhamentoModal"></th:block>
        
    </section>

   <th:block layout:fragment="javascript-extra">
	
   		<script th:src="@{/javascript/detalhe-aluno.gerenciar-encaminhamento.js}"></script>
   </th:block>
</body>

</html>