<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Relatório ocorrencias</title>

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/layout/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
			<div class="row">
           		<div class="col-xs-12">
	                <ol class="breadcrumb" style="padding: 0px 0px;">
	                    <li><a th:href="@{/}" class="js-tooltip" title="Página inicial"><i class="material-icons">home</i> Início</a></li>
	                    <li class="active" ><i class="material-icons">picture_as_pdf</i> Relatório de ocorrências</li>
	                </ol>
           		</div>
           	</div>
            <div class="card">
                <div class="header">
                    <h2>
                        GERAR RELATÓRIO DE OCORRÊNCIAS
                        <small>Gerar relatório por período e por aluno.</small>
                    </h2>
                    <!-- <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                 			<a th:href="@{/}" class="col-teal waves-effect"><i class="material-icons col-teal btn-icon">home</i> INÍCIO</a>
                        </li>
                    </ul> -->
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
	                            <form th:action="@{/relatorios/ocorrenciasEmitidas}" method="POST" th:object="${relatorioOcorrencias}" target="_blank">
		                        	<div class="row">
			                            <div class="col-xs-12 col-sm-6 col-md-4">
			                                <label for="dataOcorrido">Data da ocorrência</label>
			                                <div class="input-group">
			                                    <span class="input-group-addon">
			                                        <i class="material-icons">date_range</i>
			                                    </span>
			                                    <div class="form-line">
			                                        <input type="text" class="form-control datepicker" placeholder="" th:field="*{dataInicio}">
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="col-xs-12 col-sm-6 col-md-4">
			                                <label for="dataOcorridoAte">Até</label>
			                                <div class="input-group">
			                                    <span class="input-group-addon">
			                                        <i class="material-icons">date_range</i>
			                                    </span>
			                                    <div class="form-line">
			                                        <input type="text" class="form-control datepicker" placeholder="" th:field="*{dataFim}">
			                                    </div>
			                                </div>
			                            </div>
		                            </div>
		                            <div class="row">
			                            <div class="col-xs-12 col-sm-12 col-md-4">
			                                <label for="aluno">Aluno</label>
		                                        <div class="form-group">
		                                            <div class="form-line">
		                                                <input type="text" id="autocomplete-input-aluno" th:data-url="@{/alunos/por?nomeOuMatricula=}" class="form-control" placeholder="" th:field="*{aluno.nome}">
		                                                <input type="hidden" th:field="*{aluno}">
		                                            </div>
		                                        </div>
			                                <!-- <div class="input-group">
			                                    <span class="input-group-addon">
			                                        <a href="javascript:void(0);" class="btn btn-xs waves-effect" data-toggle="modal" data-target="#modalPesquisaAluno"><i class="material-icons">search</i></a>
			                                    </span>
			                                    <div id="divInput" class="form-line">
			                                        <input type="text" id="aluno" class="form-control js-nome" placeholder="Clique no botão para pesquisar" readonly="readonly" th:field="*{aluno.nome}">
			                                    </div>
			                                </div> -->
			                            </div>
		                            </div>
		                            <div class="row col-xs-12">
                                		<button type="submit" class="btn bg-teal waves-effect">GERAR</button>
                                	</div>
	                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>

   <th:block layout:fragment="javascript-extra">
   		
   		<!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
	    
	    <script th:src="@{/javascript/autocomplete.js}"></script>
   </th:block>
</body>

</html>