<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
	<body>
	
	<div th:fragment="cabecalho">
	<!-- Search Bar -->
    <div class="search-bar">
    	<form th:action="@{/alunos/detalhe}">
	        <div class="search-icon">
	            <i class="material-icons">search</i>
	        </div>
	        <input type="text" placeholder="NUMERO DA MATRICULA..." name="matricula">
	        <div class="close-search">
	            <i class="material-icons">close</i>
	        </div>
        </form>
    </div>
    <!-- #END# Search Bar -->
    
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="#">CAE</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    
                    <!-- #END# Notifications -->
                    <!-- Tasks -->
                    
                    <!-- #END# Tasks -->
                    <!-- Right Sidebar -->
                    <li class="pull-right"><a href="javascript:void(0);"><i class="material-icons">input</i></a></li>
                    <!-- #END# Right Sidebar -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    </div>
    
	</body>	
	</html>
	
	