<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<body>
	
	<section th:fragment="menuLateral">
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <!-- <div class="image">
                    <img th:src="@{/layout/images/user.png}" width="48" height="48" alt="User" />
                </div> -->
                <div class="info-container" style="top: 0px;">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong th:text="${#authentication.principal.usuario.nome}" th:title="${#authentication.principal.usuario.nome}">Glauber Matos</strong></div>
                    <div class="perfil text-uppercase" style="color: #e9e9e9; font-size: 11px;" th:each="grupo : ${#authentication.principal.usuario.grupos}"><strong th:text="${grupo.nome}" title="Perfil do usuário">Assistente de alunos</strong></div>
                    <div class="email" th:text="${#authentication.principal.usuario.email}">glauber.matos@si.ifbaiano.edu.br</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <!-- <li><a href="javascript:void(0);"><i class="material-icons">person</i>Perfil</a></li> -->
                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#modalTrocarSenhaUsuario"><i class="material-icons">lock</i>Trocar senha</a></li>
                            <!-- <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li> -->
                            <li role="seperator" class="divider"></li>
                            <li><a th:href="@{/logout}"><i class="material-icons">exit_to_app</i>Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">CADASTROS BÁSICOS</li>
                    <li class="active">
                        <a th:href="@{/}">
                            <i class="material-icons">home</i>
                            <span>INÍCIO</span>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_MENU_ALUNOS')">
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">school</i>
                            <span>ALUNO</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li sec:authorize-url="/alunos/novo">
                                <a th:href="@{/alunos/novo}" class="waves-effect waves-block">
                                    <span>CADASTRAR</span>
                                </a>
                            </li>
                            <li sec:authorize-url="/alunos">
                                <a th:href="@{/alunos}" class="waves-effect waves-block">
                                    <span>PESQUISAR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_MENU_USUARIOS')">
                        <a class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">security</i>
                            <span>USUÁRIO</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li sec:authorize-url="/usuarios/novo">
                                <a th:href="@{/usuarios/novo}" class="waves-effect waves-block">
                                    <span>CADASTRAR</span>
                                </a>
                            </li>
                            <li sec:authorize-url="/usuarios">
                                <a th:href="@{/usuarios}" class="waves-effect waves-block">
                                    <span>PESQUISAR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_MENU_REGISTROS')"  class="header">REGISTROS</li>
                    <li sec:authorize="hasRole('ROLE_MENU_OCORRENCIAS')">
                        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                            <i class="material-icons">assignment</i>
                            <span>OCORRÊNCIA</span>
                        </a>
                        <ul class="ml-menu" style="display: none;">
                            <li sec:authorize-url="/ocorrencias/nova">
                                <a th:href="@{/ocorrencias/nova}" class="waves-effect waves-block">
                                    <span>REGISTRAR</span>
                                </a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_PESQUISAR_TODAS_OCORRENCIAS') or hasRole('PESQUISAR_OCORRENCIAS_PROPRIA_AUTORIA')">
                                <a th:href="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}" class="waves-effect waves-block">
                                    <span>PESQUISAR</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_MENU_RELATORIOS')" class="header">RELATORIOS</li>
                    <li sec:authorize="hasRole('ROLE_RELATORIO_OCORRENCIAS')">
                        <a th:href="@{/relatorios/ocorrenciasEmitidas}">
                            <i class="material-icons">picture_as_pdf</i>
                            <span>OCORRÊNCIAS</span>
                        </a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_MENU_CONSULTAS')"  class="header">CONSULTAS</li>
                    <li sec:authorize-url="/alunos/pesquisa">
                        <a th:href="@{/alunos/pesquisa}">
                            <i class="material-icons">search</i>
                            <span>ALUNOS</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2017 <a href="javascript:void(0);">IF BAIANO - SANTA INÊS - NGTI</a>.
                </div>
                <div class="version">
                    <a class="js-tooltip" href="javascript:void(0);" data-toggle="modal" data-target="#modalVersoesSistema" title="Atualizações do sistema"><b>Versão: </b> 1.4.0</a>
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        
        <!-- #END# Right Sidebar -->
        
        
        <th:block th:replace="usuario/TrocarSenhaUsuarioModal"></th:block>
        <th:block th:replace="AcompanharVersoesSistemaModal"></th:block>
        
    </section>
    
    <th:block layout:fragment="javascript-extra">
   </th:block>
    
    </body>
    </html>