<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Cadastrar aluno</title>
</head>

<body>
	
    <section class="content"  layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>ACESSO NEGADO</h2>
            </div>
			<div class="four-zero-four-container">
		        <div class="error-code">403</div>
		        <div class="error-message">Desculpe, mas suas credenciais não permitem acessar o conteúdo requisitado.</div>
		        <div class="button-place">
		            <a th:href="@{/}" class="btn btn-default btn-lg waves-effect">VOLTAR AO INÍCIO</a>
		        </div>
		    </div>
        </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   </th:block>
</body>

</html>