<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Início</title>
</head>

<body>
	
    <section class="content"  layout:fragment="conteudo">
            <div class="row">
           		<div class="col-xs-12">
	                <ol class="breadcrumb" style="padding: 0px 0px;">
	                    <li class="active"><i class="material-icons">home</i> Início</li>
	                </ol>
           		</div>
           	</div>
            <!-- Widgets -->
            <div class="row clearfix" sec:authorize="hasRole('ROLE_DASHBOARD_NUMEROS_DO_SISTEMA')">
                <div class="col-sm-3 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect" 
                    		th:classappend="${#authorization.expression('hasRole(''ROLE_MENU_ALUNOS'')')} ?  js-info-box-click"  th:data-url="@{/alunos}">
                        <div class="icon">
                            <i class="material-icons">school</i>
                        </div>
                        <div class="content">
                            <div class="text">ALUNOS</div>
                            <div class="number" th:text="${quantidadeAlunos}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect" th:classappend="${#authorization.expression('hasRole(''ROLE_MENU_ALUNOS'')')} ?  js-info-box-click"  th:data-url="@{/responsaveis}"><!-- MUDAR A ROLE PARA RESPONSAVEIS -->
                        <div class="icon">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="content">
                            <div class="text">RESPONSÁVEIS</div>
                            <div class="number" th:text="${quantidadeResponsaveis}">2</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect" 
                    		th:classappend="${#authorization.expression('hasRole(''ROLE_MENU_OCORRENCIAS'')')} ?  js-info-box-click" th:data-url="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}">
                        <div class="icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="content">
                            <div class="text">OCORRÊNCIAS</div>
                            <div class="number" th:text="${quantidadeOcorrencias}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="info-box bg-pink">
                        <div class="icon">
                            <i class="material-icons">open_in_new</i>
                        </div>
                        <div class="content">
                            <div class="text">ENCAMINHAMENTOS</div>
                            <div class="number" th:text="${quantidadeEncaminhamentos}">2</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <th:block th:if="${#authorization.expression('hasRole(''ROLE_DASHBOARD_NUMEROS_DO_SISTEMA'')')} == false">
	            <div class="row clearfix">
		            <div class="col-xs-12">
		                    <div class="card">
		                    	<div class="header">
		                            <h2>BEM VINDO AO TRINO
		                            <small>Funcionalidades disponíveis para o usuário</small></h2>
		                        </div>
		                        <div class="body">
		                            <p class="lead">
		                                Consultar dados do aluno
		                            </p>
		                            <p>
		                                Essa funcionalidade permite pesquisar por aluno informando o nome ou a matrícula.
		                            </p>
		                            <p>
		                                É possível visualizar todos os dados do aluno pesquisado, inclusive os responsáveis cadastrados para o aluno, com informações de contato e grau de parentesco.
		                            </p>
		                            <p>Para começar clique link Consulta Alunos no menu lateral.</p>
		                        </div>
		                    </div>
		                </div>
	            </div>
            </th:block>
            
            <div class="row clearfix">
            	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            		<div class="row">
	            		<!-- Line Chart -->
		                <div sec:authorize="hasRole('ROLE_VER_GRAFICO_OCORRENCIAS_MES')" class="col-xs-12">
		                    <div class="card">
		                        <div class="header">
		                            <h2 sec:authorize="hasRole('ROLE_PESQUISAR_TODAS_OCORRENCIAS')">OCORRÊNCIAS <small>Últimos 6 meses</small></h2>
		                            <h2 sec:authorize="hasRole('ROLE_PESQUISAR_OCORRENCIAS_PROPRIA_AUTORIA')">MEUS REGISTROS DE OCORRÊNCIAS <small>Últimos 6 meses</small></h2>
		                        </div>
		                        <div class="body"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
		                            <canvas id="graficoOcorrenciasPorMes" height="262" width="524" style="display: block; width: 524px; height: 262px;"></canvas>
		                        </div>
		                    </div>
		                </div>
		                <!-- #END# Line Chart -->
	                    <div sec:authorize="hasRole('ROLE_VER_OCORRENCIAS_POR_USUARIO')" class="col-xs-12">
		                    <div class="card">
		                    	<div class="header">
		                            <h2>OCORRÊNCIAS POR USUÁRIOS<small>Top 5</small></h2>
		                        </div>
		                        <div class="body">
		                            <ul class="dashboard-stat-list" style="margin-top: 0px;">
		                                <li th:each="totalOcorrencias : ${ocorrenciasPorUsuario}">
		                                    <span class="col-teal" th:text="${totalOcorrencias.usuario}">USUARIO</span>
		                                    <span class="pull-right col-teal"><b th:text="${totalOcorrencias.ocorrencias}">12</b> <small class="col-teal">OCORRÊNCIAS</small></span>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
            		</div>
            	</div>
            	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            		<div class="row">
            			<div sec:authorize="hasRole('ROLE_VER_OCORRENCIAS_POR_LOCAL')" class="col-xs-12">
		                    <div class="card">
		                    	<div class="header">
		                            <h2>OCORRÊNCIAS POR LOCAL<small>Top 5</small></h2>
		                        </div>
		                        <div class="body">
		                            <ul class="dashboard-stat-list" style="margin-top: 0px;">
		                                <li th:each="totalOcorrencia : ${ocorrenciasPorLocal}">
		                                    <span class="text-uppercase col-teal" th:text="${totalOcorrencia.local}">TODAY</span>
		                                    <span class="pull-right col-teal"><b th:text="${totalOcorrencia.ocorrencias}">12</b> <small class="col-teal">OCORRÊNCIAS</small></span>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <div sec:authorize="hasRole('ROLE_VER_OCORRENCIAS_POR_ALUNO')" class="col-xs-12">
		                    <div class="card">
		                    	<div class="header">
		                            <h2>OCORRÊNCIAS POR ALUNO<small>Top 5</small></h2>
		                        </div>
		                        <div class="body">
		                            <ul class="dashboard-stat-list" style="margin-top: 0px;">
		                                <li th:each="totalOcorrencias : ${ocorrenciasPorAluno}">
		                                    <span class="text-uppercase col-teal" th:text="${totalOcorrencias.aluno}">TODAY</span>
		                                    <span class="pull-right col-teal"><b th:text="${totalOcorrencias.ocorrencias}">12</b> <small class="col-teal">OCORRÊNCIAS</small></span>
		                                </li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
            		</div>
            	</div>
                
                
                </div>
                <!-- #END# Bar Chart -->
            
            <!-- <div sec:authorize="hasRole('ROLE_VER_TOTAIS_OCORRENCIAS')" class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">OCORRÊNCIAS POR USUÁRIO</div>
                            <ul class="dashboard-stat-list">
                                <li th:each="totalOcorrencias : ${ocorrenciasPorUsuario}">
                                    <span th:text="${totalOcorrencias.usuario}">TODAY</span>
                                    <span class="pull-right"><b th:text="${totalOcorrencias.ocorrencias}">12</b> <small>OCORRÊNCIAS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">OCORRÊNCIAS POR LOCAL</div>
                            <ul class="dashboard-stat-list">
                                <li th:each="totalOcorrencia : ${ocorrenciasPorLocal}">
                                    <span class="text-uppercase" th:text="${totalOcorrencia.local}">TODAY</span>
                                    <span class="pull-right"><b th:text="${totalOcorrencia.ocorrencias}">12</b> <small>OCORRÊNCIAS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">OCORRÊNCIAS POR ALUNO</div>
                            <ul class="dashboard-stat-list">
                                <li th:each="totalOcorrencias : ${ocorrenciasPorAluno}">
                                    <span class="text-uppercase" th:text="${totalOcorrencias.aluno}">TODAY</span>
                                    <span class="pull-right"><b th:text="${totalOcorrencias.ocorrencias}">12</b> <small>OCORRÊNCIAS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            
            <div class="row">
            	<!-- <div class="col-md-12">
	            	<img class="img-responsive" alt="logo-trino" th:src="@{/layout/images/trino-bg.png}">
            	</div> -->
            </div>
            
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
            
            <!-- #END# CPU Usage -->
            <div class="row clearfix">
                <!-- Visitors -->
                
                <!-- #END# Visitors -->
                <!-- Latest Social Trends -->
                
                <!-- #END# Latest Social Trends -->
                <!-- Answered Tickets -->
                
                <!-- #END# Answered Tickets -->
            </div>

            <div class="row clearfix">
                <!-- Task Info -->
                
                <!-- #END# Task Info -->
                <!-- Browser Usage -->
                
                <!-- #END# Browser Usage -->
            </div>
    </section>

   <th:block layout:fragment="javascript-extra">
    <!-- ChartJS plugin-->
	<script th:src="@{/layout/js/_colocar_na_pasta_plugins_Chart.bundle.min.js}"></script>
	
    <!-- Grafico ocorrencias-->
	<script th:src="@{/javascript/grafico.ocorrencias.js}"></script>
   </th:block>
</body>

</html>