<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Início</title>
</head>

<body>
	
    <section class="content"  layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>INÍCIO</h2>
            </div>
            
            <!-- MENSAGEM ACESSO COM SUCESSO -->
			<!-- <div class="alert bg-cyan alert-dismissible fade in" role="alert" th:if="${not #strings.isEmpty(loginSucesso)}" th:fragment="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
                   <span><span>OLÁ</span> <span th:text="${#authentication.principal.usuario.nome}">GLAUBER</span><strong> !</strong> SEU PERFIL DE ACESSO PERMITE UTILIZAR O SISTEMA COMO <span>ASSISTENTE DE ALUNOS</span></span>
            </div> -->
			
            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect" 
                    		th:classappend="${#authorization.expression('hasRole(''ROLE_MENU_ALUNOS'')')} ?  js-info-box-click"  th:data-url="@{/alunos}">
                        <div class="icon">
                            <i class="material-icons">school</i>
                        </div>
                        <div class="content">
                            <div class="text">ALUNOS</div>
                            <div class="number" th:text="${quantidadeAlunos}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect" 
                    		th:classappend="${#authorization.expression('hasRole(''ROLE_MENU_OCORRENCIAS'')')} ?  js-info-box-click" th:data-url="${#authorization.expression('hasRole(''ROLE_PESQUISAR_TODAS_OCORRENCIAS'')')} ? @{/ocorrencias} : @{/ocorrencias/autoria}">
                        <div class="icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="content">
                            <div class="text">OCORRÊNCIAS</div>
                            <div class="number" th:text="${quantidadeOcorrencias}"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW COMMENTS</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">NEW VISITORS</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>-->
            </div>
            
            <!-- <div sec:authorize="hasRole('ROLE_VER_TOTAIS_OCORRENCIAS')" class="row clearfix">
                Answered Tickets
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">OCORRÊNCIAS POR USUÁRIO</div>
                            <ul class="dashboard-stat-list">
                                <li th:each="totalOcorrencias : ${ocorrenciasPorUsuario}">
                                    <span th:text="${totalOcorrencias.usuario}">TODAY</span>
                                    <span class="pull-right"><b th:text="${totalOcorrencias.ocorrencias}">12</b> <small>OCORRÊNCIAS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                #END# Answered Tickets
                Answered Tickets
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">OCORRÊNCIAS POR ALUNO</div>
                            <ul class="dashboard-stat-list">
                                <li th:each="totalOcorrencias : ${ocorrenciasPorAluno}">
                                    <span class="text-uppercase" th:text="${totalOcorrencias.aluno}">TODAY</span>
                                    <span class="pull-right"><b th:text="${totalOcorrencias.ocorrencias}">12</b> <small>OCORRÊNCIAS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                #END# Answered Tickets
                Answered Tickets
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="body bg-teal">
                            <div class="font-bold m-b--35">OCORRÊNCIAS POR LOCAL</div>
                            <ul class="dashboard-stat-list">
                                <li th:each="totalOcorrencia : ${ocorrenciasPorLocal}">
                                    <span class="text-uppercase" th:text="${totalOcorrencia.local}">TODAY</span>
                                    <span class="pull-right"><b th:text="${totalOcorrencia.ocorrencias}">12</b> <small>OCORRÊNCIAS</small></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                #END# Answered Tickets
            </div> -->
            
            <div class="row">
            	<!-- <div class="col-md-12">
	            	<img class="img-responsive" alt="logo-trino" th:src="@{/layout/images/trino-bg.png}">
            	</div> -->
            </div>
            
            <!-- #END# Widgets -->
            <!-- CPU Usage -->
            
            <!-- #END# CPU Usage -->
            <div class="row clearfix">
                <!-- Visitors -->
                
                <!-- #END# Visitors -->
                <!-- Latest Social Trends -->
                
                <!-- #END# Latest Social Trends -->
                <!-- Answered Tickets -->
                
                <!-- #END# Answered Tickets -->
            </div>

            <div class="row clearfix">
                <!-- Task Info -->
                
                <!-- #END# Task Info -->
                <!-- Browser Usage -->
                
                <!-- #END# Browser Usage -->
            </div>
        </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   </th:block>
</body>

</html>