<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>CADASTRO</h2>
            </div>
            <div class="card">
                <div class="header">
                    <button type="button" class="btn bg-teal waves-effect"><i class="material-icons">search</i>PESQUISA</button>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">mic</i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label for="matricula">Matricula</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="matricula" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
                                        <label for="nome">Nome</label>
                                        <div class="form-group">
                                            <div class="form-line focused error">
                                                <input type="text" id="nome" class="form-control" placeholder="">
                                            </div>
                                            <label id="name-error" class="error" for="name">Campo obrigatório.</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <label for="sexo">Sexo</label>
                                        <div class="form-group has-error">
                                            <input type="radio" name="sexo" id="masculino" class="with-gap">
                                            <label for="masculino">Masculino</label>

                                            <input type="radio" name="sexo" id="feminino" class="with-gap">
                                            <label for="feminino" class="m-l-20">Feminino</label>
                                            <label id="sexo-error" class="error" for="name">Campo obrigatório.</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="identificacao">Identificação</label>
                                        <select id="identificacao" class="form-control show-tick">
                                            <option>Interno</option>
                                            <option>Semi-Interno</option>
                                            <option>Externo</option>
                                            <option>Funcionário</option>
                                            <option>Servidor</option>
                                            <option>Não Identificado</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label for="email">Email</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="email" id="email" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="dataNascimento">Data Nascimento</label>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" id="dataNascimento" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary m-t-15 waves-effect"><i class="material-icons">send</i> SALVAR</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


   <th:block layout:fragment="javascript-extra">
   
   </th:block>
</body>

</html>