<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title th:text="${aluno.novo} ? 'Novo aluno' : 'Editar aluno'">Cadastrar aluno</title>

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/layout/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
            <div class="block-header">
				<div class="row">
            		<div class="col-md-6">
            			<h2 th:if="${aluno.novo}">CADASTRAR NOVO ALUNO</h2>
						<h2 class="text-uppercase" th:unless="${aluno.novo}" th:text="|EDITAR ALUNO ${aluno.nome}|">EDITAR ALUNO</h2>
            		</div>
            		<div class="col-md-6">
		                <ol class="breadcrumb align-right" style="padding: 0px 0px;">
		                    <li><a th:href="@{/}" class="js-tooltip" title="Página inicial"><i class="material-icons">home</i> Início</a></li>
		                    <li><a th:href="@{/alunos}" class="js-tooltip" title="Pesquisar aluno"><i class="material-icons">school</i> Alunos</a></li>
		                    <li class="active" th:if="${aluno.novo}"><i class="material-icons">add_circle_outline</i> Novo</li>
		                    <li class="active" th:unless="${aluno.novo}"><i class="material-icons">edit</i> Editar</li>
		                </ol>
            		</div>
            	</div>
            </div>
            <div class="card">
                <div class="header">
                	<h2>
                        FORMULÁRIO CADASTRO DE ALUNO
                        <small>Os campos marcados com <code>(*)</code> requer preenchimento obrigatório.</small>
                    </h2>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="js-formulario" th:object="${aluno}" th:action="${aluno.novo} ? @{/alunos/novo} : @{/alunos/{codigo}(codigo=${aluno.codigo})}" method="POST">
                            	<input type="hidden" th:field="*{codigo}">
                            	<input type="hidden" th:field="*{status}">
                            	
                            	<!-- MENSAGEM SUCESSO -->
								<div class="alert bg-teal alert-dismissible fade in" role="alert" th:if="${not #strings.isEmpty(mensagemSucesso)}" th:fragment="alert">
	                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
	                                <span th:text="${mensagemSucesso}"></span>
	                            </div>
	                            
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <label for="matricula" class="control-label">Matrícula <code>*</code></label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('matricula')} ? 'focused error'">
                                                <input type="text" id="matricula" class="form-control" placeholder="" th:field="*{matricula}">
                                            </div>                                            
                                            <label th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}" class="error" for="matricula"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 trino-required">
                                        <label for="nome" class="control-label">Nome</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('nome')} ? 'focused error'">
                                                <input type="text" id="nome" class="form-control" placeholder="" th:field="*{nome}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" id="nome-error" class="error" for="nome"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 trino-required">
                                        <label for="regime" class="control-label">Regime</label>
                                        <div class="form-group">
	                                        <select id="regime" class="form-control show-tick" th:field="*{regime}">
	                                        	<option value="">selecione...</option>
	                                            <option th:each="regime : ${regimes}" th:value="${regime}" th:text="${regime.descricao}">Interno</option>
	                                        </select>                                           
	                                        <label th:if="${#fields.hasErrors('regime')}" th:errors="*{regime}" class="error" for="regime"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 trino-required">
                                    	<label for="curso" class="control-label">Curso</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{curso}">
		                                    	<option value="">selecione...</option>
											    <option th:each="curso : ${cursos}" th:value="${curso.codigo}" th:text="${curso.nome}">Agropecuaria</option>
											</select>                                           
	                                        <label th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}" class="error" for="curso"></label>
	                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="sexo">Sexo</label>
                                        <div class="form-group"  th:classappend="${#fields.hasErrors('sexo')} ? 'focused error'">
                                        	<th:block th:each="sexo : ${sexo}">
	                                            <input type="radio" th:value="${sexo}" th:field="*{sexo}" class="with-gap">
	                                            <label th:for="${#ids.prev('sexo')}" th:text="${sexo.descricao}">Masculino</label>
                                        	</th:block>                                            
                                            <label th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" class="error" for="sexo"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="alojamento">Alojamento</label>
	                                    <div class="form-group">
                                            <select class="form-control show-tick" data-container="body" th:field="*{alojamento}">
		                                    	<option value="">selecione...</option>
											    <option th:each="alojamento : ${alojamentos}" th:value="${alojamento}" th:text="${alojamento.descricao}">Alojamento Masculino</option>
											</select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="apartamento">Nº Apartamento</label>
	                                    <div class="form-group">
	                                    	<select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{apartamento}">
		                                    	<option value="">selecione...</option>
		                                    	<option value="1">1</option>
		                                    	<option value="2">2</option>
		                                    	<option value="3">3</option>
		                                    	<option value="4">4</option>
		                                    	<option value="5">5</option>
		                                    	<option value="6">6</option>
		                                    	<option value="7">7</option>
		                                    	<option value="8">8</option>
		                                    	<option value="9">9</option>
		                                    	<option value="10">10</option>
		                                    	<option value="11">11</option>
		                                    	<option value="12">12</option>
		                                    	<option value="13">13</option>
		                                    	<option value="14">14</option>
		                                    	<option value="15">15</option>
											</select>
											
                                            <!-- <div class="form-line">
                                                <input type="text" id="apartamento" class="form-control" placeholder="" th:field="*{apartamento}">
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3 trino-required">
                                    	<label for="serieTurma" class="control-label">Serie/Turma</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{serieTurma}">
		                                    	<option value="">selecione...</option>
											    <option th:each="serie : ${series}" th:value="${serie}" th:text="${serie.descricao}">1º ano A</option>
											</select>
	                                        <label th:if="${#fields.hasErrors('serieTurma')}" th:errors="*{serieTurma}" class="error" for="serieTurma"></label>
	                                    </div>
                                    </div>
                                </div>
                               <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <label for="dataNascimento">Data Nascimento</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line" th:classappend="${#fields.hasErrors('dataNascimento')} ? 'focused error'">
                                                <input type="text" class="form-control datepicker" readonly="readonly" placeholder="" th:field="*{dataNascimento}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="error" for="dataNascimento"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="email" class="form-control" placeholder="" th:field="*{email}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="contato">Contato</label>
                                    	<div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">phone</i>
                                            </span>
                                            <div class="form-line" th:classappend="${#fields.hasErrors('contato')} ? 'focused error'">
                                                <input type="text" class="form-control mobile-phone-number js-phone-number" placeholder="" th:field="*{contato}">
                                            </div>
	                                        <label th:if="${#fields.hasErrors('contato')}" th:errors="*{contato}" class="error" for="contato"></label>
                                        </div>
                                         <!--<div class="form-group">
                                            <input type="checkbox" id="whatsapp" class="chk-col-teal" name="whatsapp" th:checked="${aluno.whatsapp}">
                                            <label for="whatsapp">WhatsApp</label>
                                        </div>-->
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <label for="whatsapp">Contato do WhatsApp?</label>
                                        <div class="input-group">
                                            <input type="checkbox" id="whatsapp" class="chk-col-teal" name="whatsapp" th:checked="${aluno.whatsapp}">
                                            <label for="whatsapp">SIM</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <label for="nomeSocial">Nome Social</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('nomeSocial')} ? 'focused error'">
                                                <input type="text" id="nomeSocial" class="form-control" placeholder="" th:field="*{nomeSocial}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('nomeSocial')}" th:errors="*{nomeSocial}" id="nome-error" class="error" for="nomeSocial"></label>
                                        </div>
                                    </div>   
                               </div>
                               <!-- <div class="row">
                                	<div class="col-lg-12">
                                		<h2 class="card-inside-title col-teal">ENDEREÇO</h2>
                                	</div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label for="rua">Rua</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('rua')} ? 'focused error'">
                                                <input type="text" id="rua" class="form-control" placeholder="" th:field="*{rua}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" id="nome-error" class="error" for="rua"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label for="rua">Numero</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('rua')} ? 'focused error'">
                                                <input type="text" id="rua" class="form-control" placeholder="" th:field="*{rua}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" id="nome-error" class="error" for="rua"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label for="rua">Bairro</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('rua')} ? 'focused error'">
                                                <input type="text" id="rua" class="form-control" placeholder="" th:field="*{rua}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" id="nome-error" class="error" for="rua"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label for="rua">Cidade</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('rua')} ? 'focused error'">
                                                <input type="text" id="rua" class="form-control" placeholder="" th:field="*{rua}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" id="nome-error" class="error" for="rua"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label for="rua">Ponto de referência</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('rua')} ? 'focused error'">
                                                <input type="text" id="rua" class="form-control" placeholder="" th:field="*{rua}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}" id="nome-error" class="error" for="rua"></label>
                                        </div>
                                    </div>
                               </div> -->
                               
                               
                               <!-- <div class="row">
                                	<div class="col-xs-12 col-sm-6">
                                		<h2 class="card-inside-title col-teal">DADOS DOS RESPONSÁVEIS</h2>
                                        <div class="card" style="background-color:#e9e9e9;">
                                            <div class="body">
                                                <div class="row">
			                                    		<div class="col-md-12">
				                                    		<button type="button" class="btn btn-xs bg-teal waves-effect" data-toggle="modal" data-target="#defaultModal"><i class="material-icons btn-icon">add_circle_outline</i>ADICIONAR RESPONSÁVEL</button>
					                                    	<button type="button" class="btn btn-xs bg-pink waves-effect js-remover-todos" th:if="${aluno.responsaveisDoAluno} == null" disabled="disabled"><i class="material-icons btn-icon">delete_sweep</i>REMOVER TODOS</button>
			                                    		</div>
                                                </div>
		                                        <div class="js-container-tabela-responsaveis">
		                                        	
		                                        	<th:block th:if="${aluno.responsaveisDoAluno} != null">
					                                		<div class="panel-group full-body" id="accordion_19" role="tablist" aria-multiselectable="true" th:fragment="tabelaResponsaveis">
																	
																	<div class="panel" th:each="responsavelAluno : ${aluno.responsaveisDoAluno}">
															    		<div class="panel-heading" role="tab" th:id="${responsavelAluno.responsavel.codigo}">
															        		<h4 class="panel-title">
															            		<a class="collapsed" role="button" data-toggle="collapse" th:href="|#collapseThree_${responsavelAluno.responsavel.codigo}|" 
															            			aria-expanded="false" th:aria-controls="|collapseThree_${responsavelAluno.responsavel.codigo}|" th:text="${responsavelAluno.responsavel.nome}">
															                		{{responsavel.nome}}
															            		</a>
															        		</h4>
															    		</div>
															    		<div th:id="|collapseThree_${responsavelAluno.responsavel.codigo}|" class="panel-collapse collapse" role="tabpanel" th:aria-labelledby="|headingThree_${responsavelAluno.responsavel.codigo}|">
															        		<div class="panel-body">
																				<div class="row">
															                         <div class="col-xs-12 col-sm-6">
															                             <p>
															                                PARENTESCO: <span th:text="${responsavelAluno.parentesco}"></span>
															                             </p>
															                             <p>
															                                CONTATO 1: <span th:text="${responsavelAluno.responsavel.contato}"></span>
															                             </p>
															                             <p>
															                                CONTATO 2: <span th:text="${responsavelAluno.responsavel.contato2}"></span>
															                             </p>
															                         </div>
															                         <div class="col-xs-12 col-sm-6 text-right">
															                              <a href='javascript:void(0);' class="js-editar-responsavel" th:data-url="@{/responsaveis/{codigo}(codigo=${responsavelAluno.responsavel.codigo})}">
															                                  <i class='material-icons col-teal btn-icon'>mode_edit</i> EDITAR
															                              </a>
															                              <a href='javascript:void(0);' class='js-exclusao-btn' th:data-objeto="${responsavelAluno.responsavel.nome}" th:data-url="@{/responsaveis/{codigo}(codigo=${responsavelAluno.codigo})}" data-contato='{{responsavel.contato}}'>
															                                  <i class='material-icons col-pink btn-icon'>delete</i> REMOVER
															                              </a>
															                         </div>
															                      </div>
															        		</div>
															    		</div>
																	</div>
															</div>
				                                	</th:block>
				                                    <span th:unless="${aluno.responsaveisDoAluno} != null">O aluno não possui responsáveis cadastrados no sistema.</span>
		                                    	</div>
		                                        <label th:if="${#fields.hasErrors('temResponsavel')}" th:errors="*{temResponsavel}" id="nome-error" class="error"></label>
		                                	<div class="table-responsive">
	                                			<div class="form-group">
						                            <table class="table table-hover table-bordered  js-tabela-responsaveis">
						                                <thead>
						                                    <tr>
						                                        <th>NOME</th>
						                                        <th>CONTATOS</th>
						                                        <th>PARENTESCO</th>
						                                        <th>
																	<a href="javascript:void(0);" class="" data-toggle="modal" data-target="#defaultModal">
									                                    <span class="material-icons col-teal">add_circle</span>
									                                </a>
									                                <a href="javascript:void(0);" class="js-remover-todos">
									                                    <i class="material-icons col-pink">delete_forever</i>
									                                </a>
																</th>
						                                    </tr>
						                                </thead>
						                                <tbody class="js-tabela-responsaveis-body">
						                                	<th:block th:if="${aluno.responsaveisDoAluno} != null">
							                                	<tr th:each="responsavelAluno : ${aluno.responsaveisDoAluno}">
							                                		<th th:text="${responsavelAluno.responsavel.nome}">Nome</th>
							                                        <th th:text="${responsavelAluno.responsavel.contato}">Contato</th>
							                                        <th th:text="${responsavelAluno.parentesco.descricao}">Parentesco</th>
							                                	</tr>
						                                	</th:block>
						                                    <tr th:unless="${aluno.responsaveisDoAluno} != null"><td colspan="4" class="col-orange">Voce ainda nao adicionou responsaveis</td></tr>
						                                </tbody>
						                            </table>
		                                            <label th:if="${#fields.hasErrors('temResponsavel')}" th:errors="*{temResponsavel}" id="nome-error" class="error"></label>
		                        				</div>
		                        			</div>
                                            </div>
                                        </div>
                                	</div>
                                    <div class="col-xs-12 col-sm-6">
                                        <h2 class="card-inside-title col-teal">AUTORIZAÇÕES</h2>
                                        <div class="card" style="background-color:#e9e9e9;">
                                            <div class="body">
                                                <p>
                                                    <input type="checkbox" id="sair" class="chk-col-teal" name="saida" th:checked="${aluno.saida}">
                                                    <label for="sair">
                                                        Saída do campus, para todos os fins.
                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="saidaSemAula" class="chk-col-teal" name="saidaSemAula" th:checked="${aluno.saidaSemAula}">
                                                    <label for="saidaSemAula">
                                                        Saída do campus, durante o expediente não havendo aulas.
                                                    </label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="viagem" class="chk-col-teal" name="whatsapp" th:checked="${aluno.whatsapp}">
                                                    <label for="viagem">
                                                        Participação em viagens promovidas pela instituição, acompanhado do servidor do campus.
                                                    </label>
                                                </p>
                                            </div> 
                                        </div>
                                    </div>
                               </div> -->
                               <div class="row">
					               <div class="header">
					                   <h2>
					                       AUTORIZAÇÕES
					                       <small>Marque as autorizações permitidas ao aluno.</small>
					                   </h2>
					               </div>
					               <input type="hidden" id="url_nova_ocorrencia" th:data-url="@{/ocorrencias}" th:data-url-alunos="@{/alunos}"/>
					               <div class="body">
					               <p>
					                   <input type="checkbox" id="sair" class="chk-col-teal" name="saida" th:checked="${aluno.saida}">
					                   <label for="sair">
					                       Saída do campus, para todos os fins.
					                   </label>
					               </p>
					               <p>
					                   <input type="checkbox" id="saidaSemAula" class="chk-col-teal" name="saidaSemAula" th:checked="${aluno.saidaSemAula}">
					                   <label for="saidaSemAula">
					                       Saída do campus durante o expediente, não havendo aulas.
					                   </label>
					               </p>
					               <!-- <p>
					                   <input type="checkbox" id="viagem" class="chk-col-teal" name="whatsapp" th:checked="${aluno.whatsapp}">
					                   <label for="viagem">
					                       Participação em viagens promovidas pela instituição, acompanhado do servidor do campus.
					                   </label>
					               </p> -->
					               </div>
                               </div>
                                <button sec:authorize="hasRole('ROLE_SALVAR_OCORRENCIA')" type="submit" class="btn bg-teal m-t-15 waves-effect  js-submit">SALVAR</button>
                        		<input type="hidden" id="uuid" th:value="${uuid}" name="uuid">
                            </form>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="card" th:unless="${aluno.novo}">
                <div class="header">
                    <h2>
                        RESPONSÁVEIS DO ALUNO
                        <small>Adicione e gerencie os responsáveis do aluno.</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                        	<a href="javascript:void(0);" class="waves-effect col-teal js-modal-responsavel" 
                    				data-toggle="modal" data-target="#defaultModal" th:data-aluno="${aluno.codigo}" 
                    				th:data-nome-aluno="${aluno.nome}">
                       			<i class="material-icons col-teal btn-icon">add</i> 
                       			ADICIONAR RESPONSÁVEL
                       		</a>
                            <!-- <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a th:href="@{/ocorrencias/nova}" class="waves-effect waves-block">Nova ocorrência</a></li>
                                <li><a th:href="@{/ocorrencias}" class="waves-effect waves-block">Atualizar</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </div>
                <input type="hidden" id="url_nova_ocorrencia" th:data-url="@{/ocorrencias}" th:data-url-alunos="@{/alunos}"/>
                <div class="body">
                	<!-- <div class="row">
                   		<div class="col-md-12">
                   			<a href="javascript:void(0);" class="waves-effect col-teal js-modal-responsavel" 
                    				data-toggle="modal" data-target="#defaultModal" th:data-aluno="${aluno.codigo}" 
                    				th:data-nome-aluno="${aluno.nome}">
                       			<i class="material-icons btn-icon">add</i> 
                       			ADICIONAR RESPONSÁVEL
                       		</a>
                    		<button type="button" class="btn bg-teal waves-effect js-modal-responsavel" 
                    				data-toggle="modal" data-target="#defaultModal" th:data-aluno="${aluno.codigo}" 
                    				th:data-nome-aluno="${aluno.nome}">
                    			ADICIONAR RESPONSÁVEL
                    		</button>
                     		<button type="button" class="btn btn-xs bg-pink waves-effect js-remover-todos" th:if="${aluno.responsaveisDoAluno} == null" disabled="disabled"><i class="material-icons btn-icon">delete_sweep</i>REMOVER TODOS</button>
                   		</div>
                   </div> -->
                   <div class="table-responsive js-container-tabela-responsaveis">
                   		<th:block th:if="${aluno.responsaveisDoAluno} != null">
                    		<!-- <div class="table-responsive"> -->
                      			<div class="form-group">
		                       		<table class="table table-striped table-hover table-bordered  js-tabela-responsaveis">
		                           		<thead>
		                               		<tr>
			                                   	<th>NOME</th>
			                                   	<th>CONTATOS</th>
			                                   	<th>PARENTESCO</th>
			                                   	<th>EMAIL</th>
			                                   	<th>AÇÕES</th>
		                               		</tr>
		                           		</thead>
		                           		<tbody class="js-tabela-responsaveis-body">
				                           	<th:block th:if="${aluno.responsaveisDoAluno.size() > 0}">
				                            	<tr th:each="responsavelAluno : ${aluno.responsaveisDoAluno}">
				                            		<td class="text-uppercase" th:text="${responsavelAluno.responsavel.nome}">Nome</td>
				                                    <td style="min-width: 60px" th:text="${responsavelAluno.responsavel.contato}">Contato</td>
				                                    <td class="text-uppercase" style="width: 50px;" th:text="${responsavelAluno.parentesco.descricao}">Parentesco</td>
				                                    <td th:text="${responsavelAluno.responsavel.email}">Email</td>
				                                    <td style="width: 100px">
				                                    	<!-- <a href='javascript:void(0);' class='js-tooltip col-teal js-' title="Ver detalhes" th:data-url="@{/responsaveis/{codigo}(codigo=${responsavelAluno.responsavel.codigo})}">
							                                  <i class='material-icons btn-icon'>settings</i>
							                            </a> -->
				                                    	<a href='javascript:void(0);' class='js-editar-parentesco js-tooltip col-blue' title="Editar parentesco"
                    											data-toggle="modal" data-target="#defaultModal" th:data-codigo="${responsavelAluno.codigo}" th:data-parentesco="${responsavelAluno.parentesco}"
                    											th:data-codigo-responsavel="${responsavelAluno.responsavel.codigo}" th:data-nome="${responsavelAluno.responsavel.nome}">
							                                  <i class='material-icons btn-icon'>edit</i>
							                                  
							                            </a>
				                              			<a href='javascript:void(0);' class='js-exclusao-btn js-tooltip col-pink' title="Remover responsável" 
				                              					th:data-objeto="${responsavelAluno.responsavel.nome}"
				                              					th:data-url="@{/responsaveis/{codigo}(codigo=${responsavelAluno.codigo})}">
							                                  <i class='material-icons btn-icon'>delete</i> 
							                                
							                            </a>
			                              			</td>
				                            	</tr>
				                           	</th:block>
		                               		<tr th:unless="${aluno.responsaveisDoAluno.size() > 0}"><td colspan="5">Aluno não possui responsáveis cadastrados :(</td></tr>
		                           		</tbody>
		                       		</table>
                                   	<!-- <label th:if="${#fields.hasErrors('temResponsavel')}" th:errors="*{temResponsavel}" id="nome-error" class="error"></label> -->
		               			<!-- </div> -->
		               		</div>
                    		
                    		
                    		<!-- <div class="panel-group full-body" id="accordion_19" role="tablist" aria-multiselectable="true" th:fragment="tabelaResponsaveis">

								<div class="panel" th:each="responsavelAluno : ${aluno.responsaveisDoAluno}">
  									<div class="panel-heading" role="tab" th:id="${responsavelAluno.responsavel.codigo}">
      									<h4 class="panel-title">
          									<a class="collapsed" role="button" data-toggle="collapse" th:href="|#collapseThree_${responsavelAluno.responsavel.codigo}|" 
          										aria-expanded="false" th:aria-controls="|collapseThree_${responsavelAluno.responsavel.codigo}|" th:text="${responsavelAluno.responsavel.nome}">
              									{{responsavel.nome}}
          									</a>
      									</h4>
  									</div>
							  		<div th:id="|collapseThree_${responsavelAluno.responsavel.codigo}|" class="panel-collapse collapse" role="tabpanel" th:aria-labelledby="|headingThree_${responsavelAluno.responsavel.codigo}|">
							      		<div class="panel-body">
											<div class="row">
							                       <div class="col-xs-12 col-sm-6">
							                           <p>
							                              PARENTESCO: <span th:text="${responsavelAluno.parentesco}"></span>
							                           </p>
							                           <p>
							                              CONTATO 1: <span th:text="${responsavelAluno.responsavel.contato}"></span>
							                           </p>
							                           <p>
							                              CONTATO 2: <span th:text="${responsavelAluno.responsavel.contato2}"></span>
							                           </p>
							                       </div>
							                       <div class="col-xs-12 col-sm-6 text-right">
							                            <a href='javascript:void(0);' class="js-editar-responsavel" th:data-url="@{/responsaveis/{codigo}(codigo=${responsavelAluno.responsavel.codigo})}">
							                        <i class='material-icons col-teal btn-icon'>mode_edit</i> EDITAR
							                    </a>
							                              <a href='javascript:void(0);' class='js-exclusao-btn' th:data-objeto="${responsavelAluno.responsavel.nome}" th:data-url="@{/responsaveis/{codigo}(codigo=${responsavelAluno.codigo})}" data-contato='{{responsavel.contato}}'>
							                                  <i class='material-icons col-pink btn-icon'>delete</i> REMOVER
							                              </a>
							                         </div>
							                      </div>
							        		</div>
							    		</div>
									</div>
							</div> -->
                     	</th:block>
                         <span th:unless="${aluno.responsaveisDoAluno} != null">O aluno não possui responsáveis cadastrados no sistema.</span>
                       	</div>
                </div>
           </div>
		
        <th:block th:replace="responsavel/CadastroResponsavelModal"></th:block>
        
    </section>

   <th:block layout:fragment="javascript-extra">
	    <!-- notificações -->
   		<!-- <script th:src="@{/javascript/vendors/plugins/alertify/alertify.js}"></script>
   		<script th:src="@{/javascript/vendors/plugins/bootstrap-notify/bootstrap-notify.min.js}"></script>
   		<script th:src="@{/javascript/notificacoes-push.js}"></script> -->
   		<script th:src="@{/javascript/trino.excluir-objeto.js}"></script>
   		
  		 <!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	    
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
   		
   		
   		<script th:src="@{/javascript/vendors/plugins/handlebars/handlebars-v4.0.10.js}"></script>
   		
   		
   		<!-- Pesquisar responsavel usando autocomplete -->
	    <script th:src="@{/javascript/autocomplete.js}"></script>
	    
   		<script th:src="@{/javascript/aluno.gerenciar-responsaveis.js}"></script>
   		
   		<th:block th:replace="handlebars/TabelaResponsaveisTemplate"></th:block>
   </th:block>
</body>

</html>