<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Cadastrar aluno</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>CADASTRO</h2>
            </div>
            <div class="card">
                <div class="header">
                    <button type="button" class="btn bg-teal waves-effect"><i class="material-icons">search</i>PESQUISAR</button>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">mic</i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="container container-alt">
            	<div class="row">
	            	<div class="card">
	                    <div class="header">
	                        <h2 th:text="${aluno.nome}">
	                            Glauber de Oliveira Matos
	                        </h2>
	                        <ul class="header-dropdown m-r--5">
	                            <li class="dropdown">
	                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
	                                    <i class="material-icons">more_vert</i>
	                                </a>
	                                <ul class="dropdown-menu pull-right">
	                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
	                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
	                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
	                                </ul>
	                            </li>
	                        </ul>
	                    </div>
	                    <div class="body">
	                    	<div class="row">
		                    	<div class="col-md-3">
	                                <div class="container-foto-aluno">
	                                    <div class="foto">
	                                        <a href="#" class="alterar-foto-aluno">
	                                            <i class="material-icons" style="position: relative; top: 7px; margin-bottom: 8px;">photo_camera</i><span class="hidden-xs"> FOTO</span>
	                                        </a>
	                                        <img id="foto" style="cursor:pointer;" class="img-thumbnail" th:src="@{/layout/images/alunos/aluno-muckup.png}" alt="" heigth="280px" width="280px">
	
	                                    </div>
	                                    <h3 th:text="${aluno.matricula}">matricula</h3>
	                                </div>
	                                <div class="container-info-aluno">
	                                	<input type="hidden" id="codigo_aluno" name="ocorrencia.aluno" th:value="${aluno.codigo}">
	                                    <strong>Identidicacao</strong><p th:text="${aluno.identificacao.descricao}">Servidor </p>
	                                    <strong>Data Nascimento</strong><p th:text="${aluno.dataNascimento}">04/08/1988</p>
	                                    <strong>Sexo</strong><p th:text="${aluno.sexo.descricao}">Masculino</p>
	                                </div>
	                            </div>
	                            <div class="col-md-9">
	                            	<div class="row">
	                            		<div class="col-md-12">
			                                <!-- Nav tabs -->
			                                <ul class="nav nav-tabs" role="tablist">
			                                	<li role="presentation" class="active">
			                                        <a href="#geral" data-toggle="tab">
			                                            <i class="material-icons">settings</i> GERAL
			                                        </a>
			                                    </li>
			                                    <li role="presentation">
			                                        <a href="#ocorrencias" data-toggle="tab">
			                                            <i class="material-icons">notifications</i> OCORRENCIAS
			                                        </a>
			                                    </li>
			                                    <li role="presentation">
			                                        <a href="#enfermaria" data-toggle="tab">
			                                            <i class="material-icons">favorite</i> ENFERMARIA
			                                        </a>
			                                    </li>
			                                </ul>
			
			                                <!-- Tab panes -->
			                                <div class="tab-content">
			                                	<div role="tabpanel" class="tab-pane fade in active" id="geral">
			                                        <div class="row">
										                <div class="col-xs-12">
										                    <div class="info-box-3 hover-expand-effect" style="margin-bottom: 0px;">
										                        <div class="icon">
										                            <i class="material-icons col-teal">notifications</i>
										                        </div>
										                        <div class="content">
										                            <div class="text">OCORRENCIAS</div>
										                            <div class="number count-to  js-quantidade-ocorrencias" data-from="0" th:data-to="${ocorrencias.size()}" data-speed="2000" data-fresh-interval="20">125</div>
										                        </div>
										                    </div>
										                </div>
										                <div class="col-xs-12">
										                    <div class="info-box-3 hover-expand-effect" style="margin-bottom: 0px;">
										                        <div class="icon">
										                            <i class="material-icons col-red">favorite</i>
										                        </div>
										                        <div class="content">
										                            <div class="text">ATENDIMENTOS ENFERMARIA</div>
										                            <div class="number count-to" data-from="0" data-to="14" data-speed="2000" data-fresh-interval="20">257</div>
										                        </div>
										                    </div>
										                </div>
										            </div>
			                                    </div>
			                                    <div role="tabpanel" class="tab-pane fade" id="ocorrencias">
			                                    	<div class="row">
			                                    		<div class="col-md-2 pull-right">
				                                    		<button type="button" class="btn btn-block btn-default waves-effect  js-nova-ocorrencia" th:data-url="@{/ocorrencias}">NOVA</button>
					                                    	<button type="button" class="btn btn-block btn-default waves-effect  js-editar-ocorrencia" disabled="disabled">EDITAR</button>
					                                    	<button type="button" class="btn btn-block btn-default waves-effect  js-excluir-ocorrencias" disabled="disabled">EXCLUIR</button>
					                                    	<button type="button" class="btn btn-block bg-deep-orange waves-effect  js-cancelar-ocorrencias hide">CANCELAR</button>
			                                    		</div>
			                                    		<div class="col-md-10">
					                                        <div class="table-responsive js-container-ocorrencias">
					                                            <th:block th:replace="ocorrencia/TabelaOcorrenciasPorAluno :: tabelaOcorrencias"></th:block>
					                                        </div>
					                                        <div class="container-nova-ocorrencia  js-container-formulario-ocorrencias">
					                                        	
					                                        </div>
			                                    		</div>
			                                    	</div>
			                                    </div>
			                                    
			                                    <div role="tabpanel" class="tab-pane fade" id="enfermaria">
			                                        <div class="table-responsive">
			                                            <table class="table table-hover">
			                                                <thead>
			                                                    <tr>
			                                                        <th>#</th>
			                                                        <th>DATA</th>
			                                                        <th>SINTOMAS</th>
			                                                        <th>CONDUTA</th>
			                                                    </tr>
			                                                </thead>
			                                                <tbody>
			                                                    <tr>
			                                                        <th scope="row">1</th>
			                                                        <td>Mark</td>
			                                                        <td>Otto</td>
			                                                        <td>@mdo</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">2</th>
			                                                        <td>Jacob</td>
			                                                        <td>Thornton</td>
			                                                        <td>@fat</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">3</th>
			                                                        <td>Larry</td>
			                                                        <td>the Bird</td>
			                                                        <td>@twitter</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">4</th>
			                                                        <td>Larry</td>
			                                                        <td>Jellybean</td>
			                                                        <td>@lajelly</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">5</th>
			                                                        <td>Larry</td>
			                                                        <td>Kikat</td>
			                                                        <td>@lakitkat</td>
			                                                    </tr>
			                                                </tbody>
			                                            </table>
			                                        </div>
			                                    </div>
			                                </div>
	                            		</div>
	                            	</div>
	                            </div>
	                    	</div>
	                    </div>
	                </div>
            	</div>
            </div>
        </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   		<script th:src="@{/javascript/detalhe-aluno.gerenciar-ocorrencias.js}"></script>
   </th:block>
</body>

</html>