<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Cadastrar aluno</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>CADASTRO</h2>
            </div>
            <div class="card">
                <div class="header">
                    <button type="button" class="btn bg-teal waves-effect"><i class="material-icons">search</i>PESQUISAR</button>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">mic</i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="container container-alt">
                <div class="row">
                    <div class="card" id="profile-main">
                        <div class="header">
                            <h2>
                                Glauber de Oliveira Matos
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="pmo-pic">
                                    <div class="p-relative">
                                        <a href="#" class="pmop-edit">
                                            <i class="material-icons" style="position: relative; top: 7px; margin-bottom: 8px;">photo_camera</i> <span class="hidden-xs">FOTO</span>
                                        </a>
                                        <img id="foto" style="cursor:pointer;" class="img-thumbnail" th:src="@{/layout/images/alunos/aluno-muckup.png}" alt="" heigth="280px" width="280px">

                                    </div>
                                    <h3>2035281</h3>
                                </div>
                                <div class="pmo-block">
                                    <strong>Identidicação</strong><p>Servidor </p>
                                    <strong>Data Nascimento</strong><p>04/08/1988</p>
                                    <strong>Sexo</strong><p>Masculino </p>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#ocorrencias" data-toggle="tab">
                                            <i class="material-icons">notifications</i> OCORRENCIAS
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#enfermaria" data-toggle="tab">
                                            <i class="material-icons">favorite</i> ENFERMARIA
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#informacoes-sobre" data-toggle="tab">
                                            <i class="material-icons">edit</i> EDITAR
                                        </a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="ocorrencias">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>DATA OCORRENCIA</th>
                                                        <th>LOCAL</th>
                                                        <th>DESCRICAO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Jacob</td>
                                                        <td>Thornton</td>
                                                        <td>@fat</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>@twitter</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Larry</td>
                                                        <td>Jellybean</td>
                                                        <td>@lajelly</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>Larry</td>
                                                        <td>Kikat</td>
                                                        <td>@lakitkat</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div role="tabpanel" class="tab-pane fade" id="enfermaria">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>DATA</th>
                                                        <th>SINTOMAS</th>
                                                        <th>CONDUTA</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>@mdo</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Jacob</td>
                                                        <td>Thornton</td>
                                                        <td>@fat</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>@twitter</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">4</th>
                                                        <td>Larry</td>
                                                        <td>Jellybean</td>
                                                        <td>@lajelly</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">5</th>
                                                        <td>Larry</td>
                                                        <td>Kikat</td>
                                                        <td>@lakitkat</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="informacoes-sobre">
                                        <form>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                                    <label for="matricula">Matricula</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="matricula" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
                                                    <label for="nome">Nome</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="nome" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <label for="sexo">Sexo</label>
                                                    <select id="sexo" class="form-control show-tick">
                                                        <option>Masculino</option>
                                                        <option>Feminino</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <label for="identificacao">Identificação</label>
                                                    <select id="identificacao" class="form-control show-tick">
                                                        <option>Interno</option>
                                                        <option>Semi-Interno</option>
                                                        <option>Externo</option>
                                                        <option>Funcionário</option>
                                                        <option>Servidor</option>
                                                        <option>Não Identificado</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <label for="email">Email</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="email" id="email" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-3">
                                                    <label for="dataNascimento">Data Nascimento</label>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="dataNascimento" class="form-control" placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary m-t-15 waves-effect"><i class="material-icons">send</i> SALVAR</button>
                                        </form>                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   		<script th:src="@{/javascript/aluno.gerenciar-responsaveis.js}"></script>
   </th:block>
</body>

</html>