<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Cadastrar aluno</title>

    <!-- Aertify Css -->
    <link th:href="@{/style/alertify.css}" rel="stylesheet" />

    <!-- Bootstrap Material Datetime Picker Css -->
    <link th:href="@{/layout/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css}" rel="stylesheet" />
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="container container-alt">
            	<div class="row">
	            	<div class="block-header">
		                <div class="row">
		            		<div class="col-md-6">
				                <h2>HISTÓRICO DO ALUNO</h2>
		            		</div>
		            		<div class="col-md-6">
				                <ol class="breadcrumb align-right" style="padding: 0px 0px;">
				                    <li><a th:href="@{/}" class="js-tooltip" title="Página inicial"><i class="material-icons">home</i> Início</a></li>
				                    <li><a th:href="@{/alunos}" class="js-tooltip" title="Pesquisar aluno"><i class="material-icons">school</i> Alunos</a></li>
				                    <li class="active"><i class="material-icons">history</i> Histórico</li>
				                </ol>
		            		</div>
		            	</div>
		                
		            </div>
	            	<div class="card" th:if="${aluno} != null">
	                    <div class="header">
	                        <h2 id="nomeAluno" class="text-uppercase" th:text="${aluno.nome}">
	                            Glauber de Oliveira Matos
	                        </h2>
	                        <ul class="header-dropdown m-r--5">
	                        	<li><a th:href="@{/alunos}" class="btn bg-teal waves-effect waves-block">PESQUISAR</a></li>
	                        </ul>
	                    </div>
	                    <div class="body">
	                    	<div class="row">
		                    	<div class="col-md-3">
	                                <div class="container-foto-aluno">
	                                    <div class="foto">
	                                        <a href="#" class="alterar-foto-aluno">
	                                            <i class="material-icons btn-icon">photo_camera</i><span class="hidden-xs"> FOTO</span>
	                                        </a>
	                                        <img id="foto" style="cursor:pointer;" class="img-thumbnail" th:src="@{/layout/images/alunos/aluno-muckup.png}" alt="" heigth="280px" width="280px">
	
	                                    </div>
	                                    <h3 class="col-teal js-matricula-aluno" th:text="${aluno.matricula}">matricula</h3>
	                                </div>
	                                <div class="container-info-aluno">
	                                	<input type="hidden" id="codigo_aluno" name="ocorrencia.aluno" th:value="${aluno.codigo}">
	                                	<strong>REGIME</strong><p><span th:text="${aluno.regime.descricao}">Aluno Interno</span></p>
	                                	<strong>DATA NASCIMENTO</strong><p><span th:if="${aluno.dataNascimento} != null" th:text="${aluno.dataNascimentoFormatada}">04/08/1988</span></p>
	                                	<strong>SEXO</strong><p><span  th:if="${aluno.sexo} != null" th:text="${aluno.sexo.descricao}">Masculino</span></p>
	                                	<strong>STATUS</strong><p><span  th:if="${aluno.status} != null" class="label" th:classappend="${aluno.status.cor}" th:text="${aluno.status.descricao}">Frequentando</span></p>
	                                </div>
	                            </div>
	                            <div class="col-md-9">
	                            	<div class="row">
	                            		<div class="col-md-12">
			                                <!-- Nav tabs -->
			                                <ul class="nav nav-tabs tab-col-teal m-b-15" role="tablist">
			                                	<li role="presentation" class="active">
			                                        <a href="#geral" data-toggle="tab">
			                                            <i class="material-icons">settings</i> GERAL
			                                        </a>
			                                    </li>
			                                    <li role="presentation">
			                                        <a href="#ocorrencias" data-toggle="tab">
			                                            <i class="material-icons">assignment</i> OCORRÊNCIAS
			                                        </a>
			                                    </li>
			                                    <!-- <li role="presentation">
			                                        <a href="#enfermaria" data-toggle="tab">
			                                            <i class="material-icons">favorite</i> ENFERMARIA
			                                        </a>
			                                    </li> -->
			                                </ul>
			
			                                <!-- Tab panes -->
			                                <div class="tab-content">
			                                	<div role="tabpanel" class="tab-pane fade in active" id="geral">
			                                        <div class="row">
										                <div class="col-xs-12">
										                    <div class="info-box-3 hover-expand-effect js-info-box-click-tab" style="margin-bottom: 0px;">
										                        <div class="icon">
										                            <i class="material-icons col-blue">assignment</i>
										                        </div>
										                        <div class="content">
										                            <div class="text">OCORRÊNCIAS</div>
										                            <div class="number js-quantidade-ocorrencias" th:text="${ocorrencias.size()}">125</div>
										                        </div>
										                    </div>
										                </div>
										                <!-- <div class="col-xs-12">
										                    <div class="info-box-3 hover-expand-effect" style="margin-bottom: 0px;">
										                        <div class="icon">
										                            <i class="material-icons col-red">favorite</i>
										                        </div>
										                        <div class="content">
										                            <div class="text">ATENDIMENTOS ENFERMARIA</div>
										                            <div class="number count-to" data-from="0" data-to="14" data-speed="2000" data-fresh-interval="20">257</div>
										                        </div>
										                    </div>
										                </div> -->
										            </div>
			                                    </div>
			                                    <div role="tabpanel" class="tab-pane fade" id="ocorrencias">
			                                    	<!-- <div class="row">
										                <div class="col-xs-12">
										                    <div class="info-box-3" style="margin-bottom: 0px;">
										                        <div class="icon">
										                            <i class="material-icons col-blue">notifications</i>
										                        </div>
										                        <div class="content">
										                            <div class="text">OCORRENCIAS</div>
										                            <div class="number js-quantidade-ocorrencias" th:text="${ocorrencias.size()}">125</div>
										                        </div>
										                    </div>
										                </div>
										            </div> -->
			                                    	<div class="row">
			                                    		<input type="hidden" id="url_nova_ocorrencia" th:data-url="@{/ocorrencias}" th:data-url-alunos="@{/alunos}"/>
			                                    		<!-- <div sec:authorize-url="/ocorrencias/nova" class="col-md-12">
				                                    		<button type="button" class="btn btn-sm bg-teal waves-effect  js-nova-ocorrencia" th:disabled="${aluno.status != status.FREQUENTANDO}">NOVA</button>
					                                    	<button type="button" class="btn btn-sm bg-teal waves-effect  js-editar-ocorrencia" disabled="disabled">EDITAR</button>
					                                    	<button type="button" class="btn btn-sm bg-teal waves-effect  js-excluir-ocorrencias" disabled="disabled" th:data-url="@{/ocorrencias}">EXCLUIR</button>
					                                    	<button type="button" class="btn btn-sm bg-deep-orange waves-effect  js-cancelar-ocorrencias hide">CANCELAR</button>
			                                    		</div> -->
			                                    		<div class="col-md-12">
					                                        <div class="table-responsive js-container-ocorrencias">
					                                            <!-- <th:block th:replace="ocorrencia/TabelaOcorrenciasPorAluno :: tabelaOcorrencias"></th:block> -->
					                                        </div>
					                                        <div class="container-nova-ocorrencia  js-container-formulario-ocorrencias">
					                                        	<th:block th:replace="ocorrencia/Formulario :: formularioNovaOcorrencia"></th:block>
					                                        </div>
			                                    		</div>
			                                    	</div>
			                                    </div>
			                                    
			                                    <!-- <div role="tabpanel" class="tab-pane fade" id="enfermaria">
			                                        <div class="table-responsive">
			                                            <table class="table table-hover">
			                                                <thead>
			                                                    <tr>
			                                                        <th>#</th>
			                                                        <th>DATA</th>
			                                                        <th>SINTOMAS</th>
			                                                        <th>CONDUTA</th>
			                                                    </tr>
			                                                </thead>
			                                                <tbody>
			                                                    <tr>
			                                                        <th scope="row">1</th>
			                                                        <td>Mark</td>
			                                                        <td>Otto</td>
			                                                        <td>@mdo</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">2</th>
			                                                        <td>Jacob</td>
			                                                        <td>Thornton</td>
			                                                        <td>@fat</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">3</th>
			                                                        <td>Larry</td>
			                                                        <td>the Bird</td>
			                                                        <td>@twitter</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">4</th>
			                                                        <td>Larry</td>
			                                                        <td>Jellybean</td>
			                                                        <td>@lajelly</td>
			                                                    </tr>
			                                                    <tr>
			                                                        <th scope="row">5</th>
			                                                        <td>Larry</td>
			                                                        <td>Kikat</td>
			                                                        <td>@lakitkat</td>
			                                                    </tr>
			                                                </tbody>
			                                            </table>
			                                        </div>
			                                    </div> -->
			                                </div>
	                            		</div>
	                            	</div>
	                            </div>
	                    	</div>
	                    </div>
	                </div>
            	</div>
            </div>
        </div>
       
       <th:block th:replace="encaminhamento/CadastroEncaminhamentoModal"></th:block>
       
    </section>

   <th:block layout:fragment="javascript-extra">
   		<script th:src="@{/javascript/vendors/plugins/alertify/alertify.js}"></script>
   		<script th:src="@{/javascript/vendors/plugins/bootstrap-notify/bootstrap-notify.min.js}"></script>

	    <!-- Moment Plugin Js -->
	    <script th:src="@{/layout/plugins/momentjs/moment.js}"></script>
	
	    <!-- Bootstrap Material Datetime Picker Plugin Js -->
	    <script th:src="@{/layout/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>
	    <script th:src="@{/javascript/componente-material-date-time-picker.js}"></script>
	    
   		<script th:src="@{/javascript/vendors/plugins/handlebars/handlebars-v4.0.10.js}"></script>
   		<script th:src="@{/javascript/multiselecao.js}"></script>
   		
   		<script th:src="@{/javascript/detalhe-aluno.gerenciar-ocorrencias.js}"></script>
   		<script th:src="@{/javascript/detalhe-aluno.gerenciar-encaminhamento.js}"></script>
	    <script th:src="@{/javascript/autocomplete.js}"></script>
   		
   		<th:block th:replace="handlebars/TabelaOcorrenciasPorAlunoTemplate"></th:block>
   		
   </th:block>
</body>

</html>