<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Alunos</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>ALUNOS</h2>
            </div>
            <div class="card">
                <div class="header">
                    <a th:href="@{/alunos/novo}" type="button" class="btn bg-teal waves-effect"><i class="material-icons">add</i>NOVO</a>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">mic</i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="js-formulario" th:action="@{/alunos}" method="GET" th:object="${aluno}">
                            	
                            	<!-- MENSAGEM SUCESSO -->
								<div class="alert bg-teal alert-dismissible fade in" role="alert" th:if="${not #strings.isEmpty(mensagemSucesso)}" th:fragment="alert">
	                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
	                                <span th:text="${mensagemSucesso}"></span>
	                            </div>
	                            
	                            <!-- MENSAGEM ERRO -->
								<!-- <div class="alert alert-danger alert-dismissible fade in" role="alert" th:if="${#fields.hasErrors('temResponsavel')}" th:fragment="alert">
	                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
	                                <span th:errors="*{temResponsavel}"></span>
	                            </div> -->
                            
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
                                        <label for="nome">Nome</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('nome')} ? 'focused error'">
                                                <input type="text" id="nome" class="form-control" placeholder="" th:field="*{nome}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" id="nome-error" class="error" for="nome"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                        <label for="dataNascimento">Data Nascimento</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line" th:classappend="${#fields.hasErrors('dataNascimento')} ? 'focused error'">
                                                <input type="text" class="form-control date" placeholder="" th:field="*{dataNascimento}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="error" for="dataNascimento"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                                        <label for="sexo">Sexo</label>
                                        <div class="form-group"  th:classappend="${#fields.hasErrors('sexo')} ? 'focused error'">
                                        	<th:block th:each="sexo : ${sexo}">
	                                            <input type="radio" th:value="${sexo}" th:field="*{sexo}" class="with-gap">
	                                            <label th:for="${#ids.prev('sexo')}" th:text="${sexo.descricao}">Masculino</label>
                                        	</th:block>                                            
                                            <label th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" class="error" for="sexo"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="matricula">Matricula</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('matricula')} ? 'focused error'">
                                                <input type="text" id="matricula" class="form-control" placeholder="" th:field="*{matricula}">
                                            </div>                                            
                                            <label th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}" class="error" for="matricula"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="identificacao">Identificacao</label>
                                        <div class="form-group">
	                                        <select id="identificacao" class="form-control show-tick" th:field="*{identificacao}">
	                                        	<option value="">selecione...</option>
	                                            <option th:each="identificacao : ${identificacoes}" th:value="${identificacao}" th:text="${identificacao.descricao}">Interno</option>
	                                        </select>                                           
	                                        <label th:if="${#fields.hasErrors('identificacao')}" th:errors="*{identificacao}" class="error" for="identificacao"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="curso">Curso</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{curso}">
		                                    	<option value="">selecione...</option>
											    <option th:each="curso : ${cursos}" th:value="${curso.codigo}" th:text="${curso.nome}">Agropecuaria</option>
											</select>                                           
	                                        <label th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}" class="error" for="curso"></label>
	                                    </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="serieTurma">Serie/Turma</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{serieTurma}">
		                                    	<option value="">selecione...</option>
											    <option th:each="serie : ${series}" th:value="${serie}" th:text="${serie.descricao}">1º ano A</option>
											</select>
	                                        <label th:if="${#fields.hasErrors('serieTurma')}" th:errors="*{serieTurma}" class="error" for="serieTurma"></label>
	                                    </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary m-t-15 waves-effect  js-submit">PESQUISAR</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-12">
                    		<div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>MATRICULA</th>
                                            <th>NOME</th>
                                            <th>CURSO</th>
                                            <th>IDENTIFICACAO</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="aluno : ${alunos}">
                                            <th scope="row" th:text="${aluno.matricula}">1</th>
                                            <td th:text="${aluno.nome}">Mark</td>
                                            <td th:text="${aluno.curso.nome}">Otto</td>
                                            <td th:text="${aluno.identificacao.descricao}">@mdo</td>
                                            <td><a th:href="@{/alunos/{codigo}(codigo=${aluno.codigo})}">Editar</a></td>
                                            <td>Excluir</td>
                                            <td>Historico</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav class="text-center">
                                    <ul class="pagination pagination-sm">
                                        <li>
                                            <a href="javascript:void(0);" class="waves-effect">
                                                <i class="material-icons">chevron_left</i>
                                            </a>
                                        </li>
                                        <li><a href="javascript:void(0);" class="waves-effect">1</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                        <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                        <li>
                                            <a href="javascript:void(0);" class="waves-effect">
                                                <i class="material-icons">chevron_right</i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                    	</div>
                    </div>
                </div>
            </div>
            <!--cards com resultado da pesquisa de alunos-->
		            <div class="row">
		                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		                    <div class="card">
		                        <div class="header">
		                            <h2>
		                                Glauber de Oliveira Matos
		                            </h2>
		                            <ul class="header-dropdown m-r--5">
		                                <li class="dropdown">
		                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		                                        <i class="material-icons">more_vert</i>
		                                    </a>
		                                    <ul class="dropdown-menu pull-right">
		                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
		                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
		                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
		                                    </ul>
		                                </li>
		                            </ul>
		                        </div>
		                        <div class="body">
		                            <div class="row">
		                                <div class="col-md-5 col-sm-5 col-xs-12 pull-right">
		                                    <div class="layout-foto">
		                                        <img src="images\alunos\aluno-muckup.png" alt="" class="img-thumbnail" height="121px" width="121px">
		                                        <h4>2035281</h4>
		                                    </div>
		                                </div>
		                                <div class="col-md-7 col-sm-7 col-xs-12">
		                                    <strong>Identidicação</strong><p>Servidor </p>
		                                    <strong>Data Nascimento</strong><p>04/08/1988</p>
		                                    <strong>Sexo</strong><p>Masculino </p>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="card-footer">
		                            <div class="ratings">
		                                <div class="row">
		                                    <div class="col-sm-9 col-xs-12">
		                                        <a href="#"><span class="material-icons">delete_forever</span></a>
		                                        <a href="#"><span class="material-icons">mode_edit</span></a>
		                                        <a href="#"><span class="material-icons">notifications</span></a>
		                                        <a href="#"><span class="material-icons">favorite</span></a>
		                                    </div>
		                                    <div class="col-sm-3 col-xs-12">
		                                        <a href="#" class="btn bg-teal btn-xs pull-right">
		                                            <i class="material-icons">remove_red_eye</i> VER DETALHES
		                                        </a>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		        	</div>
        </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   </th:block>
</body>

</html>