<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">

<head>
    <title>Alunos</title>
</head>

<body>
	
    <section class="content" layout:fragment="conteudo">
        <div class="container-fluid">
            <div class="block-header">
                <h2>PESQUISAR ALUNOS</h2>
            </div>
            <div class="card">
                <div class="header">
                    <a th:href="@{/alunos/novo}" type="button" class="btn bg-teal waves-effect"><i class="material-icons">add</i>NOVO</a>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">mic</i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body"> <!--  card-padding-->
                    <div class="row">
                        <div class="col-md-12">
                            <form class="js-formulario" th:action="@{/alunos}" method="GET" th:object="${alunoFilter}">
                            	
                            	<!-- MENSAGEM SUCESSO -->
								<div class="alert bg-teal alert-dismissible fade in" role="alert" th:if="${not #strings.isEmpty(mensagemSucesso)}" th:fragment="alert">
	                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
	                                <span th:text="${mensagemSucesso}"></span>
	                            </div>
	                            
	                            <!-- MENSAGEM ERRO -->
								<!-- <div class="alert alert-danger alert-dismissible fade in" role="alert" th:if="${#fields.hasErrors('temResponsavel')}" th:fragment="alert">
	                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="material-icons">clear</i></button>
	                                <span th:errors="*{temResponsavel}"></span>
	                            </div> -->
                            
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                                        <label for="nome">Nome</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('nome')} ? 'focused error'">
                                                <input type="text" id="nome" class="form-control" placeholder="" th:field="*{nome}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" id="nome-error" class="error" for="nome"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                                        <label for="dataNascimento">Data Nascimento</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line" th:classappend="${#fields.hasErrors('dataNascimento')} ? 'focused error'">
                                                <input type="text" class="form-control date" placeholder="" th:field="*{dataNascimento}">
                                            </div>
                                            <label th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" class="error" for="dataNascimento"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                        <label for="sexo">Sexo</label>
                                        <div class="form-group"  th:classappend="${#fields.hasErrors('sexo')} ? 'focused error'">
                                        	<th:block th:each="sexo : ${sexo}">
	                                            <input type="radio" th:value="${sexo}" th:field="*{sexo}" class="with-gap">
	                                            <label th:for="${#ids.prev('sexo')}" th:text="${sexo.descricao}">Masculino</label>
                                        	</th:block>                                            
                                            <label th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" class="error" for="sexo"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="matricula">Matricula</label>
                                        <div class="form-group">
                                            <div class="form-line" th:classappend="${#fields.hasErrors('matricula')} ? 'focused error'">
                                                <input type="text" id="matricula" class="form-control" placeholder="" th:field="*{matricula}">
                                            </div>                                            
                                            <label th:if="${#fields.hasErrors('matricula')}" th:errors="*{matricula}" class="error" for="matricula"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <label for="identificacao">Identificacao</label>
                                        <div class="form-group">
	                                        <select id="identificacao" class="form-control show-tick" th:field="*{identificacao}">
	                                        	<option value="">todos...</option>
	                                            <option th:each="identificacao : ${identificacoes}" th:value="${identificacao}" th:text="${identificacao.descricao}">Interno</option>
	                                        </select>                                           
	                                        <label th:if="${#fields.hasErrors('identificacao')}" th:errors="*{identificacao}" class="error" for="identificacao"></label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="curso">Curso</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{curso}">
		                                    	<option value="">todos...</option>
											    <option th:each="curso : ${cursos}" th:value="${curso.codigo}" th:text="${curso.nome}">Agropecuaria</option>
											</select>                                           
	                                        <label th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}" class="error" for="curso"></label>
	                                    </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                    	<label for="serieTurma">Serie/Turma</label>
                                        <div class="form-group">
		                                    <select class="form-control show-tick" data-live-search="true" data-size="5" data-container="body" th:field="*{serieTurma}">
		                                    	<option value="">todos...</option>
											    <option th:each="serie : ${series}" th:value="${serie}" th:text="${serie.descricao}">1º ano A</option>
											</select>
	                                        <label th:if="${#fields.hasErrors('serieTurma')}" th:errors="*{serieTurma}" class="error" for="serieTurma"></label>
	                                    </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary waves-effect  js-submit">PESQUISAR</button>
                                <a th:href="@{/alunos}" class="btn btn-default waves-effect">LIMPAR</a>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-12">
                    		<div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>MATRICULA</th>
                                            <th>NOME</th>
                                            <th>CURSO</th>
                                            <th>IDENTIFICACAO</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="aluno : ${pagina.conteudo}">
                                            <th scope="row" th:text="${aluno.matricula}">1</th>
                                            <td th:text="${aluno.nome}">Mark</td>
                                            <td th:text="${aluno.curso.nome}">Otto</td>
                                            <td th:text="${aluno.identificacao.descricao}">@mdo</td>
                                            <td class="text-right">
                                            	<a th:href="@{/alunos/{codigo}(codigo=${aluno.codigo})}" class="col-red"><i class="material-icons">edit</i> Editar</a>
	                                            <a th:href="@{/alunos/detalhe?matricula={matricula}(matricula=${aluno.matricula})}" class="col-teal"><i class="material-icons">history</i> Historico</a>
                                            </td>
                                        </tr>
                                        <tr th:if="${pagina.vazia}">
                                        	<td colspan="5">A pesquisa não retornou nenhum resultado.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <th:block th:replace="fragments/Paginacao :: paginacao"></th:block>
                            </div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <th:block layout:fragment="javascript-extra">
   </th:block>
</body>

</html>